<h1><%= t('user.edit.h1') %></h1>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put },
    :html => { :class => 'form-horizontal nice' },
      :defaults => { :input_html => { :class => 'input-text' }}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name, label: t('forms.name') %>
    <%= f.input :email, label: t('forms.email'), :required => true, :autofocus => true %>
    <%= f.input :paypal, label: t('user.edit.paypal') %>
    <%= f.input :password, label: t('forms.password'), :autocomplete => "off", :hint => t('user.edit.leave_blank'), :required => false %>
    <%= f.input :password_confirmation, label: t('forms.pass_confirm'), :required => false %>
    <%= f.input :current_password, label: t('user.edit.current_pass'), :hint => t('user.edit.we_need'), :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, t('user.edit.update'), class: "nice login radius green button" %>
  </div>
<% end %>

<h3><%= t('user.edit.cancel_account') %></h3>

<p><%= t('user.edit.unhappy') %> <%= link_to t('user.edit.close_account'), registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>