<div class="three columns centered">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
		html: { :class => 'form-horizontal nice' }) do |f| %>


  	<%= f.text_field :name, required: true, autofocus: true, class: "input-text", placeholder: t('forms.full_name') %>
    <%= f.email_field :email, required: true, class: "input-text", placeholder: t('forms.email') %>
    <%= f.password_field :password, required: true, class: "input-text", placeholder: t('user.edit.password') %>
    <%= f.password_field :password_confirmation, required: true, class: "input-text", placeholder: t('forms.repeat_password') %>



     <%= f.submit t('buttons.sign_up'), class: "nice signup radius green button"  %>

<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
