<div>
	Current Amount: <%= @pledge.amount %>
</div>
<div>
	Payment Status: <%= @pledge.payment_status %>
</div>
<%= simple_form_for([@offer, @pledge], html: { id: "edit_pledge" } ) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :amount, :collection => @offer.prices, include_blank: false %>
  </div>
  
  <div class="form-actions">
  	<%= link_to t('.back', :default => t("helpers.links.back")),offer_path(@offer), :class => 'btn'  %>
    <%= f.button :submit, class: "nice radius blue tiny button", id: "pledge_update_button" %>
  </div>
<% end %>

<script type="text/javascript">
	function pledge_amount(){
		var amount = $("#pledge_amount").val();
		
		return amount;
	}

	$(function(){

		var current_amount = pledge_amount();
		var max_amount = <%= @pledge.preapproved_amount %>;

		$("#pledge_amount").change(function(){
			$("#dialog_pledge_amount").val($(this).val());
		});
		
		
		$("form#edit_pledge").submit(function handle_submit(){
			var next_amount = pledge_amount();

			console.log("current_amount: " + current_amount);
			console.log("next_amount: " + next_amount);

			if(next_amount <= max_amount) {
				console.info("proceeding with regular update");
				return true;
			} else {

				
				$("#pledge_upgrade_dialog").dialog({ 
					title: "MPPL",
					buttons: { 
						"Cancel": function(){
							$(this).dialog("close"); 
						} 
					},
					show: { effect: 'drop', direction: "up" }
				});
				console.info("form submit handler end");
				return false;
			}
		});

		

	});

</script>


<!-- pledge upgrade dialog -->
  <div id="pledge_upgrade_dialog" style="display:none;">
  	<p><%= pledge_upgrade_explanation %><p>
  	<!-- paypal begin -->
  	<%= simple_form_for([@offer, @pledge], html: { id: "upgrade_pledge" } ) do |f| %>
    <input name="pledge[amount]" type="hidden" id="dialog_pledge_amount">
	  <div class="form-actions" id="paypal-pledge-now">
	    <%= f.button :submit, type: :image, src: MPPL.config.paypal_button_url, class: "btn paypal", alt: "pledge now", value: nil, id: "paypal_button" %>
	  </div>
	  <% end %>
		<!-- paypal end -->
	</div>
<!-- pledge upgrade dialog end -->



  	

