<style type="text/css">
  .bordered th {text-align: <%= @textalign %> ;  }
  .bordered td {text-align: <%= @textalign %> ;  }
</style>

<table class="bordered">
  <thead>
    <tr>
      <th><%= t 'offer.pledge_list.pledgers' %></th>
      <% if can? :update, @offer %>
      <th><%= t 'offer.pledge_list.amount' %></th>
      <th><%= t 'offer.pledge_list.status' %></th>
      <th><%= t 'offer.pledge_list.payment_status' %></th>
      <th><%= t 'offer.pledge_list.actions' %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% @offer.available_pledges.each do |pledge| %>

      <tr>
      	<td class="pledge_list_name">
          <% if can? :update, @offer %>
            <%= link_to pledge.user.try(:name), user_path(pledge.user) %>
          <% else %>
            <%= pledge.user.try(:name) %>
          <% end %>
        </td>
        <% if can? :update, @offer %>
          <td><%= pledge.amount %></td>
          <td><%= t("pledge.#{pledge.status_str.downcase}") %></td>
          <td><%= t("pledge.#{pledge.payment_status_str.downcase}") %></td>
          <td><%= link_to image_tag("http://png-4.findicons.com/files//icons/1588/farm_fresh_web/16/pencil.png"), edit_offer_pledge_path(@offer, pledge) %>
            <%= link_to "View", offer_pledge_path(@offer, pledge) %>
            <%= simple_form_for([@offer, pledge]) do |f| %>
                <%= f.input :payment_status, :as => :hidden, :input_html => { :value => :cash } %>
                <%= f.button :submit, { value: "Got the Cash" } %>

            <% end %>
          </td>

        <% end %>
      </tr>
    <% end %>

  </tbody>

      <tr>
        <th><%= t ('offer.pledge_list.total_pledges')%> <%= @offer.available_pledges.count %>/<%= @offer.max_people %></th>
        <% if can? :update, @offer %>
        <th>Amount Total: <%= @pledges_sum %></th>
        <th></th>
        <th>Download: <%= link_to "CSV", offer_pledges_path(@offer, format: :csv) %></th>
        <% end %>

      </tr>

</table>


<br>


<div class="offer_owner_actions">

  <% if can? :update, @offer %>

    <%= link_to "Payments", offer_payments_path(@offer),
                class: "nice radius black tiny button"  %>
    <br>
    <% if can? :accept_cash, @offer %>
    <%= link_to "Collect Cash", accept_cash_offer_path(@offer),
                          class: "nice radius blue tiny button" %>
    <% else %>
    Can't accept cash <%= @offer.active? ? "any more" : "yet" %>
    <% end %>
  <% end %>

</div>
<br>
<div class="form-actions">

  <% if can? :update, @offer %>

    <h4><%= t('offer.show.copy_paste_widget') %></h4>
      <div class="widget_code">
        <textarea cols=80 rows=4 id="widget_code_textarea" dir="ltr" style="width:500px;"><%= snippet %></textarea>
        <p><%= t'offer.show.widget_explanation' %></p>
      </div>
  <% end %>
</div>

<br>