<%- model_class = Pledge.new.class -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Pledgers</th>
      <th>Pledge Status</th>
      <% if can? :update, @offer %>
      <th>Pledge ID</th>
      <th>Status</th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:payment_status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:preapproval_key) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% @pledges.each do |pledge| %>
   
      <tr>
      	<td><%= pledge.status_str %></td>
        <td><%= pledge.id %></td>
        
        <td><%= pledge.amount %></td>
        <td><%= pledge.payment_status_str %></td>
        <td><%= pledge.created_at %></td>
        <td><%= pledge.preapproval_key %></td>

        
      </tr>
    <% end %>
  </tbody>
  <thead>
    <tr>
      <th>Total Pledges: </th>
      
      <th></th>
      
    </tr>
  </thead>
</table>

     

