
<h1><%= t ('my_pledges.h1')%></h1>
<table class="bordered">
  <thead>
    <tr>
      <th><%= t ('my_pledges.offer')%></th>
      <th>Created at</th>
      <th><%= t ('my_pledges.pledge_status')%></th>
      <th><%= t ('my_pledges.payment_status')%></th>
      <th><%= t ('my_pledges.amount')%></th>
      <th><%= t ('my_pledges.actions')%></th>
    </tr>
  </thead>
  <tbody>
    <% @pledges.each do |pledge| %>
      <tr id="tr_<%= pledge.id %>">
        <td><%= link_to pledge.offer.title, offer_path(pledge.offer_id) %></td>
        <td><%= pledge.created_at %></td>
        <td><%= pledge.status_str %></td>
        <td><%= pledge.payment_status_str %></td>
        <td><%= pledge.amount %></td>
        <td>
        <%= link_to t('my_pledges.view'),  offer_pledge_path(pledge.offer_id, pledge), :class => 'green radius small button' %>
        <% if pledge.payment_status != :canceled %>
        <%= link_to t('my_pledges.edit'),  edit_offer_pledge_path(pledge.offer, pledge), :class => 'blue radius small button' %>
        <% end %>
        
        </td>
      <% end %>
      </tr>
  </tbody>
</table>

