<%- model_class = @pledge.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:offer_id) %>:</strong></dt>
  <dd><%= @pledge.offer.title %></dd>

  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @pledge.user.name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @pledge.amount %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:payment_status) %>:</strong></dt>
  <dd><%= @pledge.payment_status %></dd>

  <dt><strong><%= model_class.human_attribute_name(:pledge_status) %>:</strong></dt><dd><%= @pledge.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_preapproval_key) %>:</strong></dt>
  <dd><%= @pledge.preapproval_key %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              my_pledges_path, :class => 'nice radius tiny green button'  %>
  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_offer_pledge_path(@offer, @pledge), :class => 'nice radius tiny blue button' %>
  
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              [@offer, @pledge],
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'nice radius tiny red button' %>
</div>


<!-- <div>
  Coolect Payment:
<%= simple_form_for([@offer, @payment], url: pay_offer_pledge_url, html: { id: "collect_payments" } ) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :amount,  include_blank: false %>
  </div>
  
  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),offer_path(@offer), :class => 'btn'  %>
    <%= f.button :submit, class: "nice radius blue tiny button", id: "pledge_update_button" %>
  </div>
<% end %>
</div> -->
