<link rel="stylesheet" href="styles.css" type="text/css" media="screen" />

<!--[if gte IE 6]>
<style type="text/css">

ul#navigation li.selected a:link, ul#navigation li.selected a:visited {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#f2f2f2'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#f2f2f2')"; /* IE8 */
}
</style>
<![endif]-->




<div id="" >

<ul id="navigation">
	<li class="one"><a href="#">Details</a></li>
	<li class="two"><a href="#">Pledge Now</a></li>
	<li class="three selected"><a href="#">FAQ</a></li>
	<li class="four"><a href="#">Contact</a></li>
	
</ul>

	<div id="content">
	
	<div id="widget_body">
		
		<div>
			<header>
				<h1>Ruby on Rails Course</h1>
			</header>
			

		</div>


		<div>Box Shadow (bottom of inactive tabs)</div>
		<div>Transitions (the glow on hover)</div>
		<div>Gradients (the active tab)</div>
	</div>
	
	
	</div>

</div>
<script type="text/javascript">
$(document).ready(function(){

	var tabs = $("ul#navigation li");
	console.info(tabs);

	var sheets = $("div#content div div");
	for(var i=0; i<tabs.length; i++){

		if(sheets[i]){
			var sheet = $(sheets[i]);
			tabs[i].sheet = sheet;
			sheet.hide();	
		} else {
			var sheet = { show: function(){}};
			tabs[i].sheet = sheet;
			
		}
	
	}

	tabs.click(function() {
		tabs.removeClass("selected");
		$(this).addClass("selected");

		sheets.hide();
		($(this)[0]).sheet.show();
		return false;
	});


	tabs[0].click();

});
</script>
