/* CSS3 Progress bars by Josh Sullivan
   @jsullivandigs on Twitter
   josh@dipperstove.com */

.bar_mortice {
  height: 20px;
  background: #777;
  -moz-box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #d0d0d0, 0px 1px 1px 0px #f0f0f0;
  box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #d0d0d0, 0px 1px 0px 0px #f0f0f0;
  border: 5px solid #a0a0a0;
}

.progress {
  height: 19px;
  background: #FFF;
  float: left;
  background: -moz-linear-gradient(top,  #fff 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(top,  #fff 0%,#e5e5e5 100%);
  background: -o-linear-gradient(top,  #fff 0%,#e5e5e5 100%);
  background: -ms-linear-gradient(top,  #fff 0%,#e5e5e5 100%);
  background: linear-gradient(top,  #fff 0%,#e5e5e5 100%);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #999;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
  TINY
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.mortice_tiny {
  height: 7px;
  background: #777;
  -moz-box-shadow: inset 0px 1px 2px 0px #333;
  box-shadow: inset 0px 1px 2px 0px #333;
  border-width: 2px;
}

.progress_tiny {
  height: 6px;
  border-bottom: none;
    border-radius: 5px;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
  STYLES
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.rounded {
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.rounded .rounded {
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.rounded_tiny {
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.rounded_tiny .rounded_tiny {
  -moz-border-radius: 2px;
  border-radius: 2px;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
  COLORS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/* GREEN */

.green {
  background: #af0;
  background: -moz-linear-gradient(top,  #af0 0%, #8c0 100%);
  background: -webkit-linear-gradient(top,  #af0 0%,#8c0 100%);
  background: -o-linear-gradient(top,  #af0 0%,#8c0 100%);
  background: -ms-linear-gradient(top,  #af0 0%,#8c0 100%);
  background: linear-gradient(top,  #af0 0%,#8c0 100%);
  border-top-color: #e8ffbb;
  border-bottom-color: #690;
}
.green_mortice {
  background: #460;
  border-color: #690;
  -moz-box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #8c0, 0px 1px 1px 0px #f0f0f0;
  box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #8c0, 0px 1px 0px 0px #f0f0f0;
}


/* ORANGE */

.orange {
  background: #fa0;
  background: -moz-linear-gradient(top,  #fa0 0%, #dd9300 100%);
  background: -webkit-linear-gradient(top,  #fa0 0%,#dd9300 100%);
  background: -o-linear-gradient(top,  #fa0 0%,#dd9300 100%);
  background: -ms-linear-gradient(top,  #fa0 0%,#dd9300 100%);
  background: linear-gradient(top,  #fa0 0%,#dd9300 100%);
  border-top-color: #ffd277;
  border-bottom-color: #960;
}
.orange_mortice {
  background: #640;
  border-color: #960;
  -moz-box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #c80, 0px 1px 1px 0px #f0f0f0;
  box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #c80, 0px 1px 0px 0px #f0f0f0;
}


/* PINK */

.pink {
  background: #f0a;
  background: -moz-linear-gradient(top,  #f0a 0%, #dd0093 100%);
  background: -webkit-linear-gradient(top,  #f0a 0%,#dd0093 100%);
  background: -o-linear-gradient(top,  #f0a 0%,#dd0093 100%);
  background: -ms-linear-gradient(top,  #f0a 0%,#dd0093 100%);
  background: linear-gradient(top,  #f0a 0%,#dd0093 100%);
  border-top-color: #f6c;
  border-bottom-color: #906;
}
.pink_mortice {
  background: #604;
  border-color: #906;
  -moz-box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #c08, 0px 1px 1px 0px #f0f0f0;
  box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #c08, 0px 1px 0px 0px #f0f0f0;
}


/* PURPLE */

.purple {
  background: #a0f;
  background: -moz-linear-gradient(top,  #A0F 0%, #9300dd 100%);
  background: -webkit-linear-gradient(top,  #A0F 0%,#9300dd 100%);
  background: -o-linear-gradient(top,  #A0F 0%,#9300dd 100%);
  background: -ms-linear-gradient(top,  #A0F 0%,#9300dd 100%);
  background: linear-gradient(top,  #A0F 0%,#9300dd 100%);
  border-top-color: #c655ff;
  border-bottom-color: #5b0088;
}
.purple_mortice {
  background: #406;
  border-color: #609;
  -moz-box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #80c, 0px 1px 1px 0px #f0f0f0;
  box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #80c, 0px 1px 0px 0px #f0f0f0;
}


/* BLUE */

.blue {
  background: #0af;
  background: -moz-linear-gradient(top,  #0af 0%, #0093dd 100%);
  background: -webkit-linear-gradient(top,  #0af 0%,#0093dd 100%);
  background: -o-linear-gradient(top,  #0af 0%,#0093dd 100%);
  background: -ms-linear-gradient(top,  #0af 0%,#0093dd 100%);
  background: linear-gradient(top,  #0af 0%,#0093dd 100%);
  border-top-color: #88d7ff;
  border-bottom-color: #069;
}
.blue_mortice {
  background: #046;
  border-color: #069;
  -moz-box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #08c, 0px 1px 1px 0px #f0f0f0;
  box-shadow: inset 0px 1px 2px 0px #333, inset 0px -1px 1px 0px #08c, 0px 1px 0px 0px #f0f0f0;
}
