<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi,
    <br>
    <br>

    <p>In order to manage your pledges on More People Pay Less we created an account for you with your paypal email.</p>

    <br>
    <br>

    You may <%= link_to "login", new_user_session_url %> with the following credentials:
    <br>
    email: <%= @email %>
    <br>
    password: <%= @password %>

    <br>
    <br>

    Please login and change your password ASAP.

    <br>
    <br>
    Group Power,
    <br>The MPPL Team
  </body>
</html>