<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @seller.name %>,
    <br>
    <br>
     Someone almost made a Pledge for your <%= @offer.title %> Offer</p>
    <p>

    <br>
    <br>
    You could follow up to see what is the matter.
    <br>
    <br>

    <br>
    <br>
    <br>

    In the meantime keep spreading the news:
    </p>

    <%= link_to "FaceBook", 'https://www.facebook.com/sharer.php?u=' + @offer_url + '&t=' + @offer.title, target: :blank %> |
    <%= link_to "Twitter", 'http://twitter.com/home?status=' + ' I found a great offer - ' + @offer.title + ' The more people that buy the less everyone pays! ' + @offer_url + '#MPPL', target: :blank %> |
    <%= link_to "Google +", 'https://plus.google.com/share?url=' + @offer_url, target: :blank %> |
    <%= link_to "Digg", 'http://digg.com/submit?url=' + @offer_url, target: :blank %> |
    <%= link_to "StumbleUpon", 'http://www.stumbleupon.com/submit?url=' + @offer_url + '&title=' + @offer.title, target: :blank %> |
    <%= mail_to "friends@friends.com", 'Email', subject: "Hey Dude, I found this great offer you might like", body: "the cool thing is that if we can get more people to pledge for the offer the price keeps going down. Are you in?", target: :blank %>

  </p>
  </body>
</html>