<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi Following <%= @user.name %>,
    <br>
        <%= pluralize(@offer.recent_pledges.count, "people") %> 
        pledged for the <%= link_to @offer.title, @offer_url %> yesterday.</p>

        <br>
        <br>

        So far, <%= pluralize(@offer.available_pledges.count, "Pledge") %> out of <%= @offer.max_people %> people have pledged, and the offer ends on <%= @offer.payment_collection_date %>.

        <br>
        <br>

        This means that the offer is <b><%= @offer.status %></b>
        and the current price is <b><%= @offer.current_offer_price %>

        <br>
        <br>

        BTW - If are seriously considering purchasing this offer you may make a pledge at the maximum price you are comfertable paying and if you change your mind you can edit or cancel your pledge.

        Whenever your ready - <%= link_to "Pledge Here", @offer_url %>

        Group Power,
        <br>
        The MPPL Team

        <br>
        <br>

        <%= link_to "FaceBook", 'https://www.facebook.com/sharer.php?u=' +
            @offer_url + '&t=' + @offer.title, target: :blank %> |
        <%= link_to "Twitter", 'http://twitter.com/home?status=' + ' I found a great offer - ' + @offer.title + ' The more people that buy the less everyone pays! ' + @offer_url + '#MPPL', target: :blank %> |
        <%= link_to "Google +", 'https://plus.google.com/share?url=' + @offer_url, target: :blank %> |
        <%= link_to "Digg", 'http://digg.com/submit?url=' + @offer_url, target: :blank %> |
        <%= link_to "StumbleUpon", 'http://www.stumbleupon.com/submit?url=' + @offer_url + '&title=' + @offer.title, target: :blank %> |
        <%= mail_to "friends@friends.com", 'Email', subject: "Hey Dude, I found this great offer you might like", body: "the cool thing is that if we can get more people to pledge for the offer the price keeps going down. Are you in?", target: :blank %>

        <br>

        If you do not want to receive these email updates reagarding this offer you may "Unfollow" the offer from the <% link_to "Offer Page", @offer_url %> at any time.

  </body>
</html>