<style type="text/css">

 .facebook {
    -moz-user-select: none;
    background: #2A49A5;
    border: 1px solid #082783;
    box-shadow: 0 1px #4C6BC7 inset;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    
    font: 12px Verdana, sans-serif;
}

</style>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @buyer.name %>,
    <br>
    <br>
    Congratulations, you successfully made a Pledge for the 
    <%= link_to @offer.title, @url %> offer.</p>
    <p>
    There are currently <%= pluralize(@offer.available_pledges.count, "Pledge") %> out of <%= @offer.max_people %>, and the offer ends on <%= @offer.payment_collection_date %>.
    <br>
    <br>
    View and manage your pledges <%= link_to "Here", my_pledges_url %>.
    </br>

    <br>
    <br>
    Group Power,
    <br>The MPPL Team

    </p>
    <br>
    <p>
    Spread the news & help bring the price down!
    </p>

    <%= link_to "Twitter", 'http://twitter.com/home?status=' + ' I found a great offer - ' + @offer.title + ' The more people that buy the less everyone pays! ' + @url + '#MPPL', target: :blank, 
        style: 'color: 2b477d;
                padding: 6px 10px;           
                font: 12px Verdana, sans-serif;   
                moz-user-select: none;
                background: #01b7ee;
                border: 1px solid #082783;
                box-shadow: 0 5px #4C6BC7 inset;
                text-decoration: none;
                border-radius:2px;
                font-weight:bold;' %>&nbsp;
    <%= link_to "FaceBook", 'https://www.facebook.com/sharer.php?u=' + @url + '&t=' + @offer.title, target: :blank, 
        style: 'padding: 6px 10px;           
                font: 12px Verdana, sans-serif;   
                moz-user-select: none;
                background: #2A49A5;
                border: 1px solid #082783;
                box-shadow: 0 5px #4C6BC7 inset;
                text-decoration: none;
                color: white;
                border-radius:2px;
                font-weight:bold;' %>&nbsp;
    <%= link_to "Google +", 'https://plus.google.com/share?url=' + @url, target: :blank, 
        style: 'padding: 6px 10px;
                moz-user-select: none;
                background: #d84937;
                font: 12px Verdana, sans-serif;
                text-decoration: none;
                border: 1px solid #082783;
                box-shadow: 0 5px #4C6BC7 inset;
                color: white;
                border-radius:2px;
                font-weight:bold;' %>&nbsp;
    <%= link_to "Digg", 'http://digg.com/submit?url=' + @url, target: :blank, 
        style: 'padding: 6px 10px;
                moz-user-select: none;
                background: #1b5891;
                font: 12px Verdana, sans-serif;
                text-decoration: none;
                border: 1px solid #082783;
                box-shadow: 0 5px #4C6BC7 inset;
                color: white;
                border-radius:2px;
                font-weight:bold;' %>&nbsp;
    <%= link_to "StumbleUpon", 'http://www.stumbleupon.com/submit?url=' + @url + '&title=' + @offer.title, target: :blank, 
        style: 'padding: 6px 10px;
                moz-user-select: none;
                background: #eb4823;
                font: 12px Verdana, sans-serif;
                text-decoration: none;
                border: 1px solid #082783;
                box-shadow: 0 5px #4C6BC7 inset;
                color: white;
                border-radius:2px;
                font-weight:bold;' %>&nbsp;
    <%= mail_to "friends@friends.com", 'Email a Friend', subject: "Hey Dude, I found this great offer you might like", body: "the cool thing is that if we can get more people to pledge for the offer the price keeps going down. Are you in?", target: :blank, 
        style: 'padding: 6px 10px;
                moz-user-select: none;
                background: #ededed;
                font: 12px Verdana, sans-serif;
                text-decoration: none;
                border: 1px solid #082783;
                box-shadow: 0 5px #4C6BC7 inset;
                color: #000000;
                border-radius:2px;
                font-weight:bold;' %>
    <br>
    <br>
  </body>
</html>