<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @seller.name %>,
    <br>
    <br>
     <%= link_to @buyer.name, @user_url %> just made a <%= @pledge.amount %> Pledge on your <%= @offer.title %> Offer</p>
    <p>
    There are currently <%= pluralize(@offer.available_pledges.count, "Pledge") %> out of <%= @offer.max_people %> for your offer.
    <br>
    <br>
    You can manage your offers <%= link_to "Here", my_offers_url %>.

    <br>
    <br>

    Group Power,
    <br>
    The MPPL Team


    <br>
    <br>
    <br>
    <br>

    Tell the world about your awsome offer:
    </p>

    <%= link_to "FaceBook", 'https://www.facebook.com/sharer.php?u=' + @url + '&t=' + @offer.title, target: :blank %> |
    <%= link_to "Twitter", 'http://twitter.com/home?status=' + ' I found a great offer - ' + @offer.title + ' The more people that buy the less everyone pays! ' + @url + '#MPPL', target: :blank %> |
    <%= link_to "Google +", 'https://plus.google.com/share?url=' + @url, target: :blank %> |
    <%= link_to "Digg", 'http://digg.com/submit?url=' + @url, target: :blank %> |
    <%= link_to "StumbleUpon", 'http://www.stumbleupon.com/submit?url=' + @url + '&title=' + @offer.title, target: :blank %> |
    <%= mail_to "friends@friends.com", 'Email', subject: "Hey Dude, I found this great offer you might like", body: "the cool thing is that if we can get more people to pledge for the offer the price keeps going down. Are you in?", target: :blank %>

  </p>
  </body>
</html>