Hi <%= @seller.name %>,
<br>
<br>
<%= @name %> Just filled out an inquiry contact form regarding your <%= @offer.title %> Offer.
<br>
<h3>Form details:</h3>
<br>

<b>Name:</b> <%= @name %>
<br>
<br>
<b>Email: </b> <%= @email %>
<br>
<br>
<b>phone:</b> <%= @phone %>
<br>
<br>
<b>Message:</b> <%= @body %>

<br>
<br>
In the meantime, keep spreading the word...

<br>
<br>

<%= link_to "FaceBook", 'https://www.facebook.com/sharer.php?u=' +
    offer_url(@offer) + '&t=' + @offer.title, target: :blank %> |
<%= link_to "Twitter", 'http://twitter.com/home?status=' + ' I found a great offer - ' + @offer.title + ' The more people that buy the less everyone pays! ' + offer_url(@offer) + '#MPPL', target: :blank %> |
<%= link_to "Google +", 'https://plus.google.com/share?url=' + offer_url(@offer), target: :blank %> |
<%= link_to "Digg", 'http://digg.com/submit?url=' + offer_url(@offer), target: :blank %> |
<%= link_to "StumbleUpon", 'http://www.stumbleupon.com/submit?url=' + offer_url(@offer) + '&title=' + @offer.title, target: :blank %> |
<%= mail_to "friends@friends.com", 'Email', subject: "Hey Dude, I found this great offer you might like", body: "the cool thing is that if we can get more people to pledge for the offer the price keeps going down. Are you in?", target: :blank %>