
<h1><%= gravatar_image_tag(@user.email, :gravatar => { :default => 'http://www.avatarsdb.com/avatars/penguin12.gif' })%><%= @user.name %></h1>
<p>
	<% if can? :view_user_details, @user %>
		<%= "Email: " + @user.email %>
		<br>
		<%= link_to "Facebook", "https://www.facebook.com/search/results.php?q=" + @user.email %>  | 
		<%= link_to "Linkedin", "http://www.linkedin.com/search/fpsearch?type=people&keywords=" + @user.name %>
	<% end %>	
</p>
