<section id="intro" class="row">

		<article class="six columns">

			<h1><%= t 'hp.h1' %></h1> 
				<br><h2><%= t 'hp.h2' %></h2>

			<div class="call_to_action row">

				<span class="six columns ">
					<%= link_to (t('hp.links.browse_offers')), explore_path, id:'browse_offers_button', :class => 'blue radius nice button ' %>
				</span>

				<span class="six columns ">
					<%= link_to (t('hp.links.create_offer')), new_offer_path, id:'create_offers_button', :class => 'green radius nice button ' %>
				</span>
			<div>
		</article>

		<div class="video_container six columns last">
			<div class="vendor">
	        	<iframe width="560" height="315" src="http://www.youtube.com/embed/zFqPAZ4rpxU?rel=0&wmode=opaque" frameborder="0" allowfullscreen></iframe>
	        	</iframe>
        	</div>
		</div>
</section>



<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".video_container").fitVids();
  });
</script>
