<br><br><br><br><br><h1 id="who" >Who's Using MPPL?</h1><br>

<section id="testimonials" class="row">

		<article class="four columns">

			<h1>Israel Ruby on Rails Course</h1>

			<p><i>"We can't imagine what it would be like to compete with the giant course schools without MPPL. It simply allows us to sell our courses at such competitve prices and successfully sell courses against all odds even though we are a very small operation."</i> Elan Perach</p>

			<%= link_to "Visit Website", "http://rorcourse.blogspot.co.il/", class: "small blue button radius" %>

		</article>

		<article class="four columns">

			<h1>Taste Shop Raanana</h1>

			<p><i>"Since we were allready using other group buying systems moving to MPPL was a breeze. It is such a pleasure to be able to give our clients substantial discounts in a fair way that veryone pays the same at the end."</i></p>

			<%= link_to "Visit Website", "http://taste-shop.co.il/", class: "small blue button radius" %>

		</article>

		<article class="four columns">

			<h1>Mobile Web Course</h1>

			<p><i>"I have been teaching at one of the largest high tech schools for many years and could never imagine a way of become indepndant of them until I heard of MPPL. Now I can offer my top quality courses at such competitve prices that people think twice before signing up with the big names just because they have a name. In these hard financial times tools like this are in great need."</i> Ynon Perek</p>

			<%= link_to "Visit Website", "http://html5mobilecourse.blogspot.co.il/", class: "small blue button radius" %>

		</article>

</section>
