<!-- Home Tour -->
<ol id="joyRideTipContent">
  <li data-id="logo" data-text="What makes it so Fair?!" ><h3>is a Fair Way to Buy and Sell Group Offers</h3></li>

  <li data-id="logo" data-text="What Are These Group Offers You Speak of?" data-options="tipLocation:top;tipAnimation:fade"><h4>Well...</h4>1. For starters the more people that buy a group offer, the less everyone pays.<br/>2. You can determine the maximum price you are willing to pay.</li>

  <li data-id="days-left" data-text="OK...SO? Then What...?" data-options="tipLocation:top;tipAnimation:fade"><h4>These Are Group Offers!</h4>and each one consists of: <br/>1. A decreasing price range<br/>2. A min/max sale limit<br/>3. A Payment Date<br/></li>

  <li data-id="days-left" data-text="Thats What I'm Talking About! Sign Me Up." data-options="tipLocation:top;tipAnimation:fade"><h4>Then, You Pledge</h4>Meaning you preapprove a payment to buy something if enough people are willing to buy it with you, And if your lucky you may end up paying even less than the price you pledged</li>

  <li data-id="sign-up" data-options="tipLocation:top" data-text="Close" ><h5>What Are You Waiting For?</h5></li>

</ol>