<div class= "row">

	<div class= "three columns">
	<%= image_tag ("http://i.istockimg.com/file_thumbview_approve/19354210/2/stock-illustration-19354210-teamwork.jpg") %>
	</div>
	<div class="nine columns">
		<h1><%= t 'about.h1' %></h1>
		<p>
		<i><%= t 'about.p1' %></i><br>
		<br><%= t 'about.p2' %><br>
		<br><%= t 'about.p3' %><br>
		<br><%= t 'about.p4' %><br>
		<br><%= t 'about.p5' %><br>
		</p>

	<br><br>

<!-- AddThis Follow BEGIN -->
<p><%= t 'about.follow_us' %></p>
<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
<a class="addthis_button_facebook_follow" addthis:userid="morepeoplepayless"></a>
<a class="addthis_button_twitter_follow" addthis:userid="mpplcom"></a>
<a class="addthis_button_google_follow" addthis:userid="u/0/b/114342850935879496751/114342850935879496751/posts/p/pub"></a>
<a class="addthis_button_youtube_follow" addthis:userid="morepeoplepayless"></a>
<a class="addthis_button_pinterest_follow" addthis:userid="mpplcom"></a>
<a class="addthis_button_tumblr_follow" addthis:userid="morepeoplepayless"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=elanperach"></script>
<!-- AddThis Follow END -->

	</div>
</div>

