<ul>

  <%@first_level.each do |fl|%>
    <li>
      <%= link_to fl[:name], category_path(fl[:id])%>
        <%fl[:subcategories].each do |sc|%>
          <ul>
            <li>
              <%= link_to sc[:name], category_path(sc[:id])%>
            </li>
          </ul>
        <%end%> 
    </li>
      
  <%end%>

</ul>
 

<%= render partial: "offers/offer_box" , :locals => { :all_offers => @all_offers } %>
