	<div class="container">
		<div class="row">

				<h1><%= t 'faq.h1' %></h1>
				<section class="faq-section">

				<section class="faq-section">
				    <input type="checkbox" id="q1">
				    <label for="q1"><%= t 'faq.q1' %></label>
						<p><%= t 'faq.q1_answer' %></p>
				</section>

				<section>
				    <input type="checkbox" id="q2">
				    <label for="q2"><%= t 'faq.q2' %></label>
						<p><%= t 'faq.q2_answer' %></p>
				</section>

				<section class="faq-section">
				    <input type="checkbox" id="q3">
				    <label for="q3"><%= t 'faq.q3' %></label>
						<p><%= t 'faq.q3_answer' %></p>
				</section>

				<section class="faq-section">
				    <input type="checkbox" id="q4">
				    <label for="q4"><%= t 'faq.q4' %></label>
						<p><%= t 'faq.q4_answer' %></p>
				</section>

				<section class="faq-section">
				    <input type="checkbox" id="q5">
				    <label for="q5"><%= t 'faq.q5' %></label>
						<p><%= t 'faq.q5_answer' %></p>
				</section>

				<section class="faq-section">
				    <input type="checkbox" id="q6">
				    <label for="q6"><%= t 'faq.q6' %></label>
						<p><%= t 'faq.q6_answer' %></p>
				</section>

				<section class="faq-section">
				    <input type="checkbox" id="q7">
				    <label for="q7"><%= t 'faq.q7' %></label>
						<p><%= t 'faq.q7_answer' %></p>
				</section>

				<section class="faq-section">
				    <input type="checkbox" id="q8">
				    <label for="q8"><%= t 'faq.q8' %></label>
						<p><%= t 'faq.q8_answer' %></p>
				</section>

				<section class="faq-section">
				    <input type="checkbox" id="q9">
				    <label for="q9"><%= t 'faq.q9' %></label>
						<p><%= t 'faq.q9_answer' %></p>
				</section>

				<section class="faq-section">
				    <input type="checkbox" id="q10">
				    <label for="q10"><%= t 'faq.q10' %></label>
						<p><%= t 'faq.q10_answer' %></p>
				</section>


		</div>

</div>