    <div class="row">

        <div class= "three columns">
          <%= image_tag ("http://i.istockimg.com/file_thumbview_approve/19394806/2/stock-illustration-19394806-business-team-people-icon-web.jpg") %>
        </div>

      <div class="nine columns">
        <h1><%= t 'how_it_works.title' %></h1>
        <section class="faq-section">
          <input type="checkbox" id="q1">
          <label for="q1"><%= t 'how_it_works.q1' %></label>
          	<p><%= t 'how_it_works.q1_answer_a' %></p>
          	<p><%= t 'how_it_works.q1_answer_b' %></p>
            <p><%= t 'how_it_works.q1_answer_c' %></p>
            <p><%= t 'how_it_works.q1_answer_d' %></p>
            <p><%= t 'how_it_works.q1_answer_e' %></p>
            <p><%= t 'how_it_works.q1_answer_f' %></p>
            <p><i><%= t 'how_it_works.q1_answer_g' %></i></p>

             <%= render "common/chart" %>

        <section class="faq-section">
          <input type="checkbox" id="q2">
          <label for="q2"><%= t 'how_it_works.q2' %></label>
            <p><%= t 'how_it_works.q2_answer_a' %></p>
            <p><i><%= t 'how_it_works.q2_answer_b' %></i></p>
        </section>

        <section class="faq-section">
          <input type="checkbox" id="q3">
          <label for="q3"><%= t 'how_it_works.q3' %></label>
            <p><%= t 'how_it_works.q3_answer_a' %></p>
            <p><%= t 'how_it_works.q3_answer_b' %></p>
            <p><%= t 'how_it_works.q3_answer_c' %></p>
            <p><%= t 'how_it_works.q3_answer_d' %></p>
            <p><%= t 'how_it_works.q3_answer_e' %></p>
            <p><%= t 'how_it_works.q3_answer_f' %></p>
            <p><%= t 'how_it_works.q3_answer_g' %></p>
            <p><%= t 'how_it_works.q3_answer_h' %></p>
            <p><%= t 'how_it_works.q3_answer_i' %></p>
            <p><%= t 'how_it_works.q3_answer_j' %></p>
            <p><%= t 'how_it_works.q3_answer_k' %></p>
            <p><%= t 'how_it_works.q3_answer_l' %></p>
        </section>

    </div>
  </div>
