<div class="row">

	<h2>MorePeoplePayLess.com Privacy Policy</h2>

			<p>
			We respect your right to privacy. We will never give your name or any personal information to third parties. PayPal Adaptive Payments will process all of the transactions on MorePeoplePayLess, so nobody will see your credit card information, besides PayPal.
			</p>

			<br><h3>Email</h3><p>
			We want to send you email offers and newsletters only if you want to receive them. We will send you email relating to your personal transactions, so you can keep a record, but we will keep these to a minimum.
			</p>


			<br><h3>Technology / Security</h3><p>
			MorePeoplePayLess uses cookies to help (anonymously) recognize you as a repeat visitor and to track traffic patterns on our site. We use this information to make MorePeoplePayLess more user-friendly, but that’s it.
			MorePeoplePayLess may obtain IP addresses from users. We will use this information to monitor and prevent fraud, diagnose problems, and (anonymously) estimate demographic information.
			<br>
			We use a variety of security measures, including encryption and authentication tools, to maintain the confidentiality of your personal information. Your personal information is stored behind firewalls and is only accessible by a limited number of people who are required to keep the information confidential.</p>


			<br>
			<h3>Offer Creators</h3><p>
			By entering into our User Agreement, MorePeoplePayLess Offer Creators agree to not abuse other users' personal information. Abuse is defined as using personal information for any purpose other than those explicitly specified in the Offer Creator’s Offer, or is not related to fulfilling delivery of a product or service explicitly specified in the Offer Creator’s Offer.
			<br>
			MorePeoplePayLess Offer Creators never receive users' credit card information.</p>


			<br>
			<h3>Wrap-up</h3><p>
			MorePeoplePayLess reserves the right to update this privacy policy at anytime. Updates to our privacy policy will be sent to the email address that you have provided us or posted prominently on the website.
			We reserve the right to disclose your personally identifiable information as required by law and when we believe that disclosure is necessary to protect our rights, or in the good-faith belief that such action is necessary to comply with state and federal laws (such as U.S. Copyright Law).
			People under 18 are not permitted to use MorePeoplePayLess on their own, and so this privacy policy makes no provision for their use of the site.</p>

			<br>
			<h3>Questions</h3><p>
			If you have questions or suggestions you can contact us at: <a href="mailto:support@morepeoplepayless.com">support@morepeoplepayless.com</a></p>
</div>