<div class="row">

	<h2>MorePeoplePayLess.com Terms of Use</h2>

		<p>
			PLEASE READ THESE TERMS OF USE (THE "AGREEMENT" OR THE "TERMS OF USE") CAREFULLY BEFORE USING THE SERVICES OFFERED BY MOREPEOPLEPAYLESS, INC. ("MOREPEOPLEPAYLESS" OR THE "COMPANY"). THIS AGREEMENT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE WEBSITE AT www.MorePeoplePayLess.com, ALL OTHER SITES OWNED AND OPERATED BY MOREPEOPLEPAYLESS THAT REDIRECT TO WWW.MOREPEOPLEPAYLESS.COM, AND ALL SUBDOMAINS (COLLECTIVELY, THE "SITE"), AND THE SERVICE OWNED AND OPERATED BY THE COMPANY (TOGETHER WITH THE SITE, THE "SERVICE"). BY USING THE SERVICE IN ANY MANNER, INCLUDING, BUT NOT LIMITED TO, VISITING OR BROWSING THE SITE OR CONTRIBUTING CONTENT, INFORMATION, OR OTHER MATERIALS OR SERVICES TO THE SITE, YOU AGREE TO BE BOUND BY THIS AGREEMENT.
		</p>



			<br><h3>Summary of Service</h3><p>
			MorePeoplePayLess is a platform where certain users ("Offer Creators") run dynamic priced offers in order to allow buyers to make pre-approved payments (“A Pledge”) for the offer at their chosen price and only collect the payments from the buyers (“Pledgers”) on the payment collection date if  all the applicable conditions are met. Through the Site, email, websites, and other media, the Service makes accessible various content, including, but not limited to, videos, photographs, images, artwork, graphics, audio clips, comments, data, text, software, scripts, offers, other material and information, and associated trademarks and copyrightable works (collectively, “Content”). Offer Creators, Pledgers, and other visitors to and users of the Service (collectively, “Users”) may have the ability to contribute, add, create, upload, submit, distribute, facilitate the distribution of, collect, post, or otherwise make accessible ("Submit") Content. “User Submissions” means any Content Submitted by Users.
		</p>


			<br><h3>Acceptance of Terms</h3><p>
			The Service is offered subject to acceptance of all of the terms and conditions contained in these Terms of Use, including the Privacy Policy available at www.MorePeoplePayLess.com/privacy, and all other operating rules, policies, and procedures that may be published on the Site by the Company, which are incorporated by reference and may be updated by the Company without notice to you. In addition, some services offered through the Service may be subject to additional terms and conditions adopted by the Company. Your use of those services is subject to those additional terms and conditions, which are incorporated into these Terms of Use by this reference.

			The Service is available only to individuals who are at least 18 years old. You represent and warrant that if you are an individual, you are at least 18 years old and of legal age to form a binding contract, and that all registration information you submit is accurate and truthful. The Company may, in its sole discretion, refuse to offer the Service to any person or entity and change its eligibility criteria at any time. This provision is void where prohibited by law and the right to access the Service is revoked in those jurisdictions.
		</p>


			<br><h3>Modification of Terms of Use</h3><p>
			if any Content, including, but not limited to, any User Submission; and (ii) remove or block any User or User Submission. MorePeoplePayLess reserves the right not to comment on the reasons for any of these actions.
		</p>


			<br><h3>Rules and Conduct</h3><p>
			As a condition of use, you promise not to use the Service for any purpose that is prohibited by the Terms of Use or law. The Service is provided only for your own personal, non-commercial use (except as allowed by the terms set forth in the section of these Terms of Use titled, "Offers: Social and Collective Commerce"). You are responsible for all of your activity in connection with the Service. You shall not, and shall not permit any third party using your account to, take any action, or Submit Content, that:
			infringes any patent, trademark, trade secret, copyright, right of publicity, or other right of any other person or entity, or violates any law or contract;
			you know is false, misleading, or inaccurate;
			is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, tortious, obscene, offensive, profane, or invasive of another's privacy;
			constitutes unsolicited or unauthorized advertising or promotional material or any junk mail, spam, or chain letters;
			contains software viruses or any other computer codes, files, or programs that are designed or intended to disrupt, damage, limit, or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data, password, or other information of the Company or any third party; or
			impersonates any person or entity, including any employee or representative of the Company.
			Additionally, you shall not: (i) take any action that imposes or may impose (as determined by the Company in its sole discretion) an unreasonable or disproportionately large load on the Company’s or its third-party providers’ infrastructure; (ii) interfere or attempt to interfere with the proper working of the Service or any activities conducted on the Service; (iii) bypass any measures the Company may use to prevent or restrict access to the Service (or other accounts, computer systems, or networks connected to the Service); (iv) run Maillist, Listserv, or any form of auto-responder or "spam" on the Service; or (v) use manual or automated software, devices, or other processes to "crawl" or "spider" any page of the Site.<br>
			You shall not directly or indirectly: (i) decipher, decompile, disassemble, reverse engineer, or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the limited extent applicable laws specifically prohibit such restriction; (ii) modify, translate, or otherwise create derivative works of any part of the Service; or (iii) copy, rent, lease, distribute, or otherwise transfer any of the rights that you receive hereunder. You shall abide by all applicable local, state, national, and international laws and regulations.<br>
			The Company does not guarantee that any Content will be made available through the Service. The Company has no obligation to monitor the Service or Content. The Company reserves the right to, at any time, for any reason, and without notice: (i) cancel, reject, interrupt, remove, or suspend a offer or offer; (ii) remove, edit, or modify any Content, including, but not limited to, any User Submission; and (ii) remove or block any User or User Submission. MorePeoplePayLess reserves the right not to comment on the reasons for any of these actions.
		</p>



			<br><h3>Registration</h3><p>
			You may view Content on the Site without registering, but as a condition of using certain aspects of the Service, you may be required to register with the Company and select a screen name ("User ID") and password. You shall provide accurate, complete, and updated registration information. Failure to do so shall constitute a breach of the Terms of Use, which may result in immediate termination of your account. You shall not use as a User ID, domain name, or offer name any name or term that (i) is the name of another person, with the intent to impersonate that person; (ii) is subject to any rights of another person, without appropriate authorization; or (iii) is otherwise offensive, vulgar, or obscene. The Company reserves the right in its sole discretion to refuse registration of or cancel a User ID, domain name, and offer name. You are solely responsible for activity that occurs on your account and shall be responsible for maintaining the confidentiality of your password for the Site. You shall never use another User account without the other User’s express permission. You will immediately notify the Company in writing of any unauthorized use of your account, or other known account-related security breach.
		</p>


			<br><h3>Offers: Social and Collective Ecommerce</h3><p>
			MorePeoplePayLess is a platform where Offer Creators run offers to make sales in a dynamic priced fashion, where the price reduces as the number of sales increases. By pledging or creating an offer, you agree to be bound by this entire Agreement, including the following terms:
			Pledgers agree to provide their payment information at the time they pledge an offer. The payment will be collected at or after the offer payment collection date and only if the amount of money pledged as of the payment collection date is at least equal to any of the dynamic price requirements of the offer. The amount Pledgers pledge is the maximum amount they will be charged, if the final price of the offer is lower than their pledge they will be charged the final price of the offer, and if the pledged as pioneers and/or paid with cash their final additional discounts may be applied to their final charge.<br>
			Pledgers consent to MorePeoplePayLess and its payments partners authorizing or reserving a charge on their payment card or other payment method for any amount up to the full pledge at any time between the pledge and collection of the payments.<br>
			Pledgers agree to have sufficient funds or credit available at the offer payment collection date to ensure that the pledge will be collectible.<br>
			Pledgers may increase, decrease, or cancel their pledge at any time while the offer is open for pledging, except that they may not cancel or reduce their pledge if the offer is in its final 24 hours and the cancellation or reduction would drop the offer below its goal.<br>
			Offer Creators agree to make a good faith attempt to fulfill the offer details that have been publicized.<br>
			For all offers, MorePeoplePayLess gives to the Offer Creator each Pledger’s User ID and pledge amount. For successful offers, MorePeoplePayLess additionally provides to the Offer Creator each Pledger’s name and email.<br>
			MorePeoplePayLess does not offer refunds. A Offer Creator is not required to grant a Pledger’s request for a refund unless the Offer Creator is unable or unwilling to fulfill the offer details.
			Offer Creators are required to fulfill all details of their successful offers or refund any Pledger that they cannot fulfill the offer details.<br>
			Offer Creators may cancel or refund a Pledger’s pledge at any time and for any reason, and if they do so, are not required to fulfill the offer details.<br>
			Offer Creators should not take any action in reliance on having the money pledged until they have the ability to withdraw and spend the money.<br>
			Because of occasional failures of payments from Pledgers, MorePeoplePayLess cannot guarantee the full receipt of the amount pledged minus fees.<br>
			MorePeoplePayLess and its payments partners will remove their fees before transmitting proceeds of an offer. Fees may vary depending on region and other factors.<br>
			MorePeoplePayLess reserves the right to cancel a pledge at any time and for any reason.<br>
			MorePeoplePayLess reserves the right to reject, cancel, interrupt, remove, or suspend an offer at any time and for any reason. MorePeoplePayLess is not liable for any damages as a result of any of those actions. MorePeoplePayLess’s policy is not to comment on the reasons for any of those actions.
			MorePeoplePayLess is not liable for any damages or loss incurred related to offer details or any other use of the Service. All dealings are solely between Users. MorePeoplePayLess is under no obligation to become involved in disputes between any Users, or between Users and any third party. This includes, but is not limited to, delivery of goods and services, and any other terms, conditions, warranties, or representations associated with offers on the Site. MorePeoplePayLess does not oversee the performance or punctuality of offers. The Company does not endorse any User Submissions. You release MorePeoplePayLess, its officers, employees, agents, and successors in rights from claims, damages, and demands of every kind, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and the Service.
		</p>


			<br><h3>Fees and Payments</h3><p>
			Joining MorePeoplePayLess is free. However, we do charge fees for certain services. When you use a service that has a fee you have an opportunity to review and accept the fees that you will be charged. Changes to fees are effective after we provide you with notice by posting the changes on the Site. You are responsible for paying all fees and taxes associated with your use of the Service.<br>
			Funds pledged by Pledgers are collected by PayPal Adaptive Payments. MorePeoplePayLess is not responsible for the performance of PayPal Adaptive Payments.
		</p>


			<br><h3>Third-Party Sites</h3><p>
			The Service may permit you to link to other websites or resources on the internet, and other websites or resources may contain links to the Site. When you access third-party websites, you do so at your own risk. Those other websites are not under the Company's control, and you acknowledge that the Company is not liable for the content, functions, accuracy, legality, appropriateness, or any other aspect of those other websites or resources. The inclusion on another website of any link to the Site does not imply endorsement by or affiliation with the Company. You further acknowledge and agree that the Company shall not be liable for any damage related to the use of any content, goods, or services available through any third-party website or resource.
		</p>


			<br><h3>Content and License</h3><p>

			You agree that the Service contains Content provided by the Company and its partners and Users and that the Content may be protected by copyrights, trademarks, service marks, patents, trade secrets, or other rights and laws. You shall abide by and maintain all copyright and other legal notices, information, and restrictions contained in any Content accessed through the Service.<br>
			The Company grants to each User of the Service a worldwide, non-exclusive, non-sublicensable and non-transferable license to use and reproduce the Content, solely for personal, non-commercial use. Use, reproduction, modification, distribution, or storage of any Content for other than personal, non-commercial use is prohibited without prior written permission from the Company, or from the copyright holder. You shall not sell, license, rent, or otherwise use or exploit any Content for commercial use or in any way that violates any third-party right.
		</p>


			<br><h3>Intellectual Property of Users</h3><p>
			By Submitting User Submissions on the Site or otherwise through the Service, you agree to the following terms:<br>
			The Company will not have any ownership rights over your User Submissions. However, the Company needs the following license to perform and market the Service on your behalf and on behalf of its other Users and itself. You grant to the Company the worldwide, non-exclusive, perpetual, irrevocable, royalty-free, sublicensable, transferable right to (and to allow others acting on its behalf to) (i) use, edit, modify, prepare derivative works of, reproduce, host, display, stream, transmit, playback, transcode, copy, feature, market, sell, distribute, and otherwise fully exploit your User Submissions and your trademarks, service marks, slogans, logos, and similar proprietary rights (collectively, the "Trademarks") in connection with (a) the Service, (b) the Company’s (and its successors' and assigns’) businesses, (c) promoting, marketing, and redistributing part or all of the Site (and derivative works thereof) or the Service in any media formats and through any media channels (including, without limitation, third-party websites); (ii) take whatever other action is required to perform and market the Service; (iii) allow its Users to stream, transmit, playback, download, display, feature, distribute, collect, and otherwise use the User Submissions and Trademarks in connection with the Service; and (iv) use and publish, and permit others to use and publish, the User Submissions, Trademarks, names, likenesses, and personal and biographical materials of you and the members of your group, in connection with the provision or marketing of the Service. The foregoing license grant to the Company does not affect your other ownership or license rights in your User Submissions, including the right to grant additional licenses to your User Submissions.<br>
			You are publishing your User Submission, and you may be identified publicly by your name or User ID in association with your User Submission.<br>
			You grant to each User a non-exclusive license to access your User Submissions through the Service, and to use, edit, modify, reproduce, distribute, prepare derivative works of, display and perform such User Submissions solely for personal, non-commercial use.<br>
			You further agree that your User Submissions will not contain third-party copyrighted material, or material that is subject to other third-party proprietary rights, unless you have permission from the rightful owner of the material or you are otherwise legally entitled to post the material and to grant MorePeoplePayLess all of the license rights granted herein.
			You will pay all royalties and other amounts owed to any person or entity based on your Submitting User Submissions to the Service or the Company’s publishing or hosting of the User Submissions as contemplated by these Terms of Use.<br>
			The use or other exploitation of User Submissions by the Company and Users as contemplated by this Agreement will not infringe or violate the rights of any third party, including without limitation any privacy rights, publicity rights, copyrights, contract rights, or any other intellectual property or proprietary rights.
			The Company shall have the right to delete, edit, modify, reformat, excerpt, or translate any of your User Submissions.<br>
			All information publicly posted or privately transmitted through the Site is the sole responsibility of the person from which that content originated.<br>
			The Company will not be liable for any errors or omissions in any Content.
			The Company cannot guarantee the identity of any other Users with whom you may interact while using the Service.<br>
			All Content you access through the Service is at your own risk and you will be solely responsible for any resulting damage or loss to any party.<br>
			In accordance with the Digital Millennium Copyright Act ("DMCA"), MorePeoplePayLess has adopted a policy of, in appropriate circumstances, terminating User accounts that are repeat infringers of the intellectual property rights of others. MorePeoplePayLess also may terminate User accounts even based on a single infringement.
		</p>


			<br><h3>Copyright Notifications</h3><p>
			MorePeoplePayLess will remove infringing materials in accordance with the DMCA if properly notified that Content infringes copyright. If you believe that your work has been copied in a way that constitutes copyright infringement, please notify MorePeoplePayLess's Copyright Agent in writing. Your notice must contain the following information (please confirm these requirements with your legal counsel, or see the U.S. Copyright Act, 17 U.S.C. §512(c)(3), for more information):
			an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;
			a description of the copyrighted work that you claim has been infringed;
			a description of where the material that you claim is infringing is located on the Site, sufficient for MorePeoplePayLess to locate the material;
			your address, telephone number, and email address;
			a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
			a statement by you that the information in your notice is accurate and, under penalty of perjury, that you are the copyright owner or authorized to act on the copyright owner's behalf.<br>
			If you believe that your work has been removed or disabled by mistake or misidentification, please notify MorePeoplePayLess’s Copyright Agent in writing. Your counter-notice must contain the following information (please confirm these requirements with your legal counsel or see the U.S. Copyright Act, 17 U.S.C. §512(g)(3), for more information):
			a physical or electronic signature of the user of the Services;
			identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;
			a statement made under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material; and
			the subscriber's name, address, telephone number, and a statement that the subscriber consents to the jurisdiction of the Federal District Court for the judicial district in which the address is located, or if the subscriber's address is outside of the United States, for any judicial district in which the service provider may be found, and that the user will accept service of process from the person who provided notification under subscriber (c)(1)(C) or an agent of such person.<br>
			Under the Copyright Act, any person who knowingly materially misrepresents that material is infringing or was removed or disabled by mistake or misidentification may be subject to liability.
			If you fail to comply with these notice requirements, your notification or counter-notification may not be valid.<br>
			Our designated copyright agent for notice of alleged copyright infringement is:
			MorePeoplePayLess, Inc. 
			Attn: Copyright Agent 
			62 Ravutzki Street 
			Raanana, Israel, 43221
			Email: copyright@MorePeoplePayLess.com 
		</p>


			<br><h3>Termination</h3><p>
			The Company may terminate your access to the Service, without cause or notice, which may result in the forfeiture and destruction of all information associated with your account. If you wish to terminate your account, you may do so by following the instructions on the Site. Any fees paid to the Company are non-refundable. All provisions of the Terms of Use that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
		</p>


			<br><h3>Warranty Disclaimer</h3><p>
			The Company has no special relationship with or fiduciary duty to you. You acknowledge that the Company has no duty to take any action regarding any of the following: which Users gain access to the Site; what Content Users access through the Site; what effects the Content may have on Users; how Users may interpret or use the Content; or what actions Users may take as a result of having been exposed to the Content. The Company cannot guarantee the authenticity of any data or information that Users provide about themselves or their offers and offers. You release the Company from all liability for your having acquired or not acquired Content through the Site. The Site may contain, or direct you to websites containing, information that some people may find offensive or inappropriate. The Company makes no representations concerning any Content on the Site, and the Company is not liable for the accuracy, copyright compliance, legality, or decency of material contained on the Service.<br>
			THE SERVICE IS PROVIDED "AS IS" AND "AS AVAILABLE" AND IS WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. THE COMPANY, AND ITS DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, PARTNERS, AND CONTENT PROVIDERS DO NOT WARRANT THAT: (A) THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (B) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (C) ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (D) THE RESULTS OF USING THE SERVICE WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE SERVICE IS SOLELY AT YOUR OWN RISK. SOME STATES OR COUNTRIES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.<br>
			Electronic Communications Privacy Act Notice (18 USC §2701-2711): THE COMPANY MAKES NO GUARANTY OF CONFIDENTIALITY OR PRIVACY OF ANY COMMUNICATION OR INFORMATION TRANSMITTED ON THE SITE OR ANY WEBSITE LINKED TO THE SITE. The Company will not be liable for the privacy of email addresses, registration and identification information, disk space, communications, confidential or trade-secret information, or any other Content stored on the Company’s equipment, transmitted over networks accessed by the Site, or otherwise connected with your use of the Service.
		</p>


			<br><h3>Indemnification</h3><p>
			You shall defend, indemnify, and hold harmless the Company, its affiliates, and each of its and its affiliates’ employees, contractors, directors, suppliers, and representatives from all liabilities, claims, and expenses, including reasonable attorneys' fees, that arise from or relate to your use or misuse of, or access to, the Service and Content, or otherwise from your User Submissions, violation of the Terms of Use, or infringement by you, or any third party using your account, of any intellectual property or other right of any person or entity. The Company reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with the Company in asserting any available defenses.
		</p>


			<br><h3>Limitation of Liability</h3><p>
			IN NO EVENT SHALL THE COMPANY, NOR ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS, OR CONTENT PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE, OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICE (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), OR (III) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) ONE HUNDRED U.S. DOLLARS ($100.00). SOME STATES OR COUNTRIES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.
		</p>


			<br><h3>International</h3><p>
			Accessing the Service is prohibited from territories where the Content is illegal. If you access the Service from other locations, you do so at your own initiative and are responsible for compliance with local laws.
		</p>


		<br><h3>Electronic Delivery, Notice Policy, and Your Consent</h3><p>
			By using the Services, you consent to receive from MorePeoplePayLess all communications including notices, agreements, legally required disclosures, or other information in connection with the Services (collectively, "Contract Notices") electronically. MorePeoplePayLess may provide the electronic Contract Notices by posting them on the Site. If you desire to withdraw your consent to receive Contract Notices electronically, you must discontinue your use of the Services.
		</p>


			<br><h3>Governing Law</h3><p>
			These Terms of Service (and any further rules, policies, or guidelines incorporated by reference) shall be governed by and construed in accordance with the laws of the State of New York and the United States, without giving effect to any principles of conflicts of law, and without application of the Uniform Computer Information Transaction Act or the United Nations Convention of Controls for International Sale of Goods. You agree that the Company and its Services are deemed a passive website that does not give rise to personal jurisdiction over MorePeoplePayLess or its parents, subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers or shareholders, either specific or general, in any jurisdiction other than the State of New York. You agree that any action at law or in equity arising out of or relating to these terms, or your use or non-use of the Services, shall be filed only in the state or federal courts located in New York County in the State of New York and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action. You hereby irrevocably waive any right you may have to trial by jury in any dispute, action, or proceeding.
		</p>


			<br><h3>Integration and Severability</h3><p>
			These Terms of Use and other referenced material are the entire agreement between you and the Company with respect to the Service, and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and the Company with respect to the Service and govern the future relationship. If any provision of the Terms of Use is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Terms of Use will otherwise remain in full force and effect and enforceable. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.
		</p>


			<br><h3>Miscellaneous</h3><p>
			The Company shall not be liable for any failure to perform its obligations hereunder where the failure results from any cause beyond the Company’s reasonable control, including, without limitation, mechanical, electronic, or communications failure or degradation. The Terms of Use are personal to you, and are not assignable, transferable, or sublicensable by you except with the Company's prior written consent. The Company may assign, transfer, or delegate any of its rights and obligations hereunder without consent. No agency, partnership, joint venture, or employment relationship is created as a result of the Terms of Use and neither party has any authority of any kind to bind the other in any respect. In any action or proceeding to enforce rights under the Terms of Use, the prevailing party will be entitled to recover costs and attorneys' fees. All notices under the Terms of Use will be in writing and will be deemed to have been duly given when received, if personally delivered or sent by certified or registered mail, return receipt requested; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; or the day after it is sent, if sent for next day delivery by recognized overnight delivery service.
		</p>

			<h5>Updated: June 2012</h5>

</div>