
<h1>PayPal IPN Payment Notifications </h1>
<table class="bordered">
	<thhead>
	<tr>
			<th>id</th>
			<th>created_at</th>
			<th>Sender Email</th>
			<th>preapproval_key</th>
			<th>approved</th>
			<th>status</th>
	</tr>
</thead>
	<tbody>
	<% @payment_notifications.each do |pn| %>
		<tr>
			<td><%= link_to pn.id, payment_notification_path(pn) %></td>
			<td><%= pn.created_at %></td>
			<td><%= pn.sender_email %></td>
			<td><%= pn.preapproval_key %></td>
			<td><%= pn.approved %></td>
			<td><%= pn.status %></td>

		</tr>
	<% end %>
</tbody>
</table>