
<h1>Payment Notifications</h1>

<dl class="dl-horizontal">
  <dt><strong>id:</strong></dt>
  <dd><%= @payment_notification.id %></dd>

  <dt><strong>created at:</strong></dt>
  <dd><%= @payment_notification.created_at %></dd>

  <dt><strong>sender email:</strong></dt>
  <dd><%= @payment_notification.sender_email %></dd>
  
  <dt><strong>preapproval key:</strong></dt>
  <dd><%= @payment_notification.preapproval_key %></dd>

  <dt><strong>approved:</strong></dt>
  <dd><%= @payment_notification.approved %></dd>

  <dt><strong>status:</strong></dt>
  <dd><%= @payment_notification.status %></dd>

  <dt><strong>params:</strong></dt>
  <dd><%= @payment_notification.params %></dd>

</dl>