<style type="text/css">

.faq-section {
  text-align:<%= @textalign %>;
  direction: <%= (@locale.in? ['he', 'ar']) ? 'rtl' : 'ltr' %>;
  margin: 20px;
}

</style>

<section class="faq-section">
<h1 style="padding-bottom:10px;"><%= t 'faq.h1' %></h1>
        <section>
            <input type="checkbox" id="q1">
            <label for="q1"><%= t 'widget.faq.q1' %></label>
            <p><%= t 'widget.faq.q1_answer' %></p>
        </section>

        <section>
          <input type="checkbox" id="q2">
            <label for="q2"><%= t 'widget.faq.q2' %></label>
            <p><%= t 'widget.faq.q2_answer_a' %></p>
            <p><%= t 'widget.faq.q2_answer_b' %></p>
        </section>

        <section>
          <input type="checkbox" id="q3">
            <label for="q3"><%= t 'widget.faq.q3' %></label>
            <p><%= t 'widget.faq.q3_answer_a' %></p>
            <p><%= t 'widget.faq.q3_answer_b' %></p>
        </section>

        <section>
          <input type="checkbox" id="q4">
            <label for="q4"><%= t 'widget.faq.q4' %></label>
            <p><%= t 'widget.faq.q4_answer' %></p>
        </section>

        <section>
          <input type="checkbox" id="q5">
            <label for="q5"><%= t 'widget.faq.q5' %></label>
            <p><%= t 'widget.faq.q5_answer' %></p>
        </section>

</section>