<br>
<h1><%= t 'widget.h1' %></h1>
<h2><%= t 'widget.h2' %></h2>

<%= render "common/chart" %>

<div id="price_details">

  <div id="price_range">
  	 <h2><%= t 'widget.price.min_price' %>	<%= @offer.min_price %>&#8362; &nbsp;&nbsp;&nbsp;&nbsp;  <%= t 'widget.price.max_price' %> <%= @offer.max_price %>&#8362;</h2>
  </div>

  <br>

  <div id="pledge_now">
     
      <!-- form start -->
      <%= simple_form_for([@offer, @pledge], url: offer_pledges_url(@offer), html: { target: "_blank"}) do |f| %>

        <%= f.input :amount, label: t('widget.price.i_want_in') do %>
          <%= f.select :amount,  offer_price_options(@offer) %>
        <% end %>

        <%= f.button :submit, type: :image, src: MPPL.config.paypal_button_url, id: "paypal-widget", alt: "pledge now", value: nil %>
      <% end %>
      <!-- form end -->
      <h2><%= t ('widget.price.reg_with_paypal') %></h2>
      <span><%= t ('widget.price.pledge_explanation') %></span>
      <div id="terms">
        <%= t ('widget.terms.1'), payment_collection_date: @offer.payment_collection_date %><br>
        <%= t ('widget.terms.2') %><br>
        <%= t ('widget.terms.3') %>

        <br>
      </div>
  </div>

</div>
