<% container_id = "mppl_widget_#{width}_#{height}_#{@offer.id}" %><div id='<%= container_id %>' ></div>
<script type="text/javascript" src="<%= "#{embed_widget_url(@offer, format: :js)}?container_id=#{container_id}&locale=#{@locale}&width=#{width}&height=#{height}" %>" ></script>

