(function(){
	var container = document.getElementById("<%= @container_id %>");
	if(!container){ return; }
	
	var iframe = document.createElement("iframe");
	iframe.src = "<%= widget_url(@offer) %>?locale=<%= @locale %>&width=<%= @viewport[:width] %>&height=<%= @viewport[:height] %>";
	iframe.width = <%= @viewport[:width] %>;
	iframe.height = <%= @viewport[:height] %>;
	iframe.frameBorder = "0";
	iframe.scrolling = "yes";
	container.appendChild(iframe);
}())