(function(){

var jquery_js = "<%= root_url %>jquery/jquery.min.js";
var jquery_ui = "<%= root_url %>jquery_ui/js/jquery-ui-1.8.22.custom.min.js";
var charts_js = "<%= root_url %>widgets/highcharts/highcharts.js";
var offers_js = "<%= root_url %>widgets/offers.js";
var paypal_js = "https://www.paypalobjects.com/js/external/dg.js";
//////////////////////////////////////////////////////////////////////////////////////

var widget_container_id = "mppl_widget";//'<%= @widget_container_id %>';

var widget_container = document.getElementById(widget_container_id);
if(widget_container){

	var urls = [paypal_js, offers_js, charts_js, jquery_ui];

	if(!probe_jquery()){
		urls.push(jquery_js);
	}

	var cb = function(){};
	render_widget_inline(widget_container_id);
	loadScripts(urls, cb);

	// ensure_jquery(function(){
	// 	loadScript(paypal_js, loadScripts());
	// 	loadScript(charts_js, function(){
	// 			render_widget_inline(widget_container_id);
	// 			$(function(){
	// 				loadScript(offers_js);	
	// 			});
      	
 //     });
	// });
	
} else {
	console.info("no container!!!");
}

///////////////////////////////////////////////////////////////////////////////////////

/* works with IE!!! */
function render_widget_inline(container_id){
	var widget_content = "<%= j render 'tabbed_widget_2' %>";// "<%= 'j render template:' + 'items/index_widget' %>" ;
	var container = $("#" + container_id);
	container.html(widget_content);
	console.info("<%= __FILE__ %>");
}

function ensure_jquery(cb){
	if(probe_jquery()){
		console.info("jQuery is already here!");
	}else{
		console.info("jQuery isn't here yet!");
		console.info("loading...");
		loadScript(jquery_js, function(){
			if(probe_jquery()){
				console.info("jQuery is already here!");
				cb();
			} else {
				console.info("failed!");
			}
		});
		
	}
}

function probe_jquery(){
	if(typeof $ != 'undefined' && $ == jQuery){
		return true;
	} else {
		return false;
	}
}

function loadScripts(urls, cb){

	var url = urls.pop();
	console.log("going to load " + url);
	if(url){
		loadScript(url, loadScripts(urls, cb));	
	} else {
		console.log("all scripts loaded");
		cb();
	}
}

function loadScript(url, cb){
	var script_tag = document.createElement('script');
  script_tag.setAttribute("type","text/javascript");
  script_tag.setAttribute("src", url);
  if (script_tag.readyState) {
    script_tag.onreadystatechange = function () { // For old versions of IE
        if (this.readyState == 'complete' || this.readyState == 'loaded') {
            cb();
        }
    };
  } else { // Other browsers
    script_tag.onload = cb;
  }
  // Try to find the head, otherwise default to the documentElement
  (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(script_tag);
}

})();