<style type="text/css">
	
	.widget_code {
		margin-top: 50px;
	}

</style>


<% WidgetsHelper::TYPES.each do |type| %>
<% type_name = type[0] %>
<hr>
<div>
	<div class="widget_preview">
		<p>before widget</p>
		<%= snippet type_name %>
		<p>after widget</p>
 	</div>

 	

	<div class="widget_code">
 		<textarea cols=80 rows=4 id="widget_code_textarea" dir="ltr">
 			<%= snippet type_name %>
 		</textarea>
 	</div>
</div>
<% end %>

