<script type="text/javascript" src="https://www.paypalobjects.com/js/external/dg.js"></script>


<div id="details">
	<div id="details_header">
	<h1><%= @offer.title %></h1>
	</div>

	<div id="chart">
		<%= render partial: "widgets/price_sheet" %>
	</div>
	   

</div>

<div id="pledge">
</div>