div#mppl_widget .faq-section{
      margin: 0;

    }

div#mppl_widget .faq-section p{
      display: none;
      margin-bottom: 10px;
      margin: 0;
      margin-bottom:10px;
    }

div#mppl_widget .faq-section input{
      position: absolute;
      z-index: 2;
      cursor: pointer;
      opacity: 0;
      display: none\9; /* IE8 and below */
            margin: 0;
      width: 100%;
      height: 26px;
    }

div#mppl_widget .faq-section label+p{
      display: block;
      color: #999;
      font-size: .95em;
      -webkit-transition: all .15s ease-out;
      -moz-transition: all .15s ease-out;
      -ms-transition: all .15s ease-out;
      -o-transition: all .15s ease-out;
      transition: all .15s ease-out;
      /* Clipping text */
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

div#mppl_widget .faq-section input[type=checkbox]:checked~p{
      margin-top:5px;
      display: block;
      color: #444;
      font-size: 1.00em;
      /* restore clipping defaults */
      text-overflow: clip;
      white-space: normal;
      overflow: visible;
    }

div#mppl_widget .faq-section label{
      font-size: 1em;
      background: #f2f2f2;
      display: block;
      position: relative;
      height: 20px;
      padding: 2px 5px;
      font-weight: bold;
      border: 1px solid #ddd;
/*      border-left: 3px solid #888;*/

      -webkit-transition: all .15s ease-out;
      -moz-transition: all .15s ease-out;
      -ms-transition: all .15s ease-out;
      -o-transition: all .15s ease-out;
      transition: all .15s ease-out;
    }

div#mppl_widget .faq-section label::-moz-selection{ /* remove text selection when toggle-ing */
      background: none;
    }

div#mppl_widget .faq-section label::selection{
      background: none;

    }

div#mppl_widget .faq-section label:hover{
      background: #f5f5f5;
    }

div#mppl_widget .faq-section input[type=checkbox]:checked~label{
      border-color: #134f5c;
      background: #35a09e;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#35a09e), to(#45818e));
      background-image: -webkit-linear-gradient(top, #35a09e, #45818e);
      background-image: -moz-linear-gradient(top, #35a09e, #45818e);
      background-image: -ms-linear-gradient(top, #35a09e, #45818e);
      background-image: -o-linear-gradient(top, #35a09e, #45818e);
      background-image: linear-gradient(to bottom, #35a09e, #45818e);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,.4);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,.4);
      box-shadow: 0 0 1px rgba(0,0,0,.4);
      color: #fff;
      font-size: 100%;
      text-shadow: 0px 1px 2px #555;
      width:97%;
      padding-top:0px;
    }

div#mppl_widget .faq-section label::before{
/*      content: '';
      position: absolute;
      right: 4px;
      top: 50%;
      margin-top: -6px;
      border: 6px solid transparent;
      border-left-color: inherit;*/
    }

div#mppl_widget .faq-section input[type=checkbox]:checked~label::before{
/*      border: 6px solid transparent;
      border-top-color: inherit;
      margin-top: -3px;
      right: 10px;*/
    }


/*    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <style>
            .faq-section label,
            .faq-section label:hover{
                cursor: default;
                background: #eee;
            }
            body .faq-section p{
                display: block;
                color: #444;
                font-size: 1em;
                text-overflow: clip;
                white-space: normal;
                overflow: visible;
            }
        </style>
    <![endif]-->*/