div#mppl_widget {
	position: relative;
  font-family: helvetica, sans-serif;
}

div#mppl_widget *{
	position: static;
}

div#mppl_widget h1 {
	color: #000;
  margin: 0;
  font-size: 26px;
  padding: 0;
  margin-bottom: 10px;
}

div#mppl_widget h1#widget_video {
  color: #000;
  margin: 0;
  font-size: 23px;
  padding: 0;
  margin-bottom: 10px;
}

div#mppl_widget h3 {
  color: #000;
  margin: 0;
  font-size:20px;
  font-weight:normal;
  margin-bottom:10px;
}

div#mppl_widget h1 a{
	color: #1c738c;
	margin: 0;
	font-size: 20px;
	padding: 0;
	margin: 0;
}
div#mppl_widget p {
	margin-bottom: 10px;
}

div#mppl_widget h2 {
	color: #fff;
	font-size: 16px;
}


div#mppl_widget h2 a {
	color: #fff;

}


div#mppl_widget ul {
	list-style: none;
}

div#mppl_widget select {
	width: 140px;
  font-size:13px;
}

div#mppl_widget img {
	border: solid 5px #fff;
	padding: 0;
	margin: 0;
	width:97%;
}
div#mppl_widget ul#navigation {
	height: 23px;
	width: 88%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
  text-align:right;
}

div#mppl_widget ul#navigation li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float: left;
	margin: 0 5px 0 0;
	background-color: #2B477D;
	border: solid 1px #415F9D;
	position: relative;
	z-index: 1;
}

div#mppl_widget ul#navigation li.selected {
	z-index: 6;
}

div#mppl_widget ul#navigation li.shadow {
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -3px;
	left: 0;
	border: none;
	background: none;
	z-index: 2;
	-webkit-box-shadow: #111 0 -2px 6px;
	-moz-box-shadow: #111 0 -2px 6px;
	box-shadow: #111 0 -2px 6px;
}

div#mppl_widget ul#navigation li a:link, ul#navigation li a:visited {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	text-align: center;
	height: 13px;
	line-height: 1.9em;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	outline: none;
	float: left;
	background: #1c738c;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

div#mppl_widget ul#navigation li a:hover {
	background-color: #12a1cd;
}

div#mppl_widget ul#navigation li.selected a:link,
div#mppl_widget ul#navigation li.selected a:visited {
	color: #2B477D;
	border: solid 1px #fff;
  height:11px;
	-webkit-transition: background-color 0.2s linear;
	background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2f2f2),color-stop(.8, #d1d1d1));
	background-color: #f2f2f2;
}

div#mppl_widget ul#navigation li  a {
  padding: 0px 10px 15px 10px;
}

div#mppl_widget .content {

	background: #fff;
	margin: 0 auto;
	min-height: 350px;
	border: solid 1px #000;
	border-radius: 5px;
	padding:15px 0 0 0;

}
div#mppl_widget .widget_body {
  padding: 0 15px;
}

div#mppl_widget div.mppl_widget_sheet {
  position: relative;
}

div#mppl_widget #widget_footer {
	background: #1c738c;
	margin: 0 auto;
	height: 27px;
	border: solid 1px #000;
	border-radius: 0px 0px 5px 5px;
	
  width:100%;
	position: relative;
  bottom: 0;
  left:0;
  right:0;

	text-align:center;
}

div#mppl_widget #widget_footer a {
  text-align:center;
}

div#mppl_widget div#widget_footer h2 {
  margin:5px;
  line-height: 1em;
  text-transform: lowercase;
}

div#mppl_widget label {
  color: #000000;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;
  padding: 5px;
  margin: 0;
  text-align:left;

}

div#mppl_widget #widget_input {
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  margin-bottom:15px;
  padding-left: 8px;
  color: rgb(51, 51, 51);
  border-width: initial;
  border-color: initial;
  font-weight: normal;
  font-size: 12pt;
  border-radius: 5px;
  border-top: 1px solid rgb(207, 207, 207);
  border-right: 1px solid rgb(207, 207, 207);
  border-bottom: 1px solid rgb(207, 207, 207);
  border-left: 1px solid rgb(207, 207, 207);
  border-image: initial;
  font-style: normal;
  width: 95%;
  height: 28px;
  text-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 8px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 8px 0px inset;
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
}

div#mppl_widget #widget_textarea {
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 8px;
  margin-bottom:15px;
  color: rgb(51, 51, 51);
  border-width: initial;
  border-color: initial;
  font-weight: normal;
  font-size: 12pt;
  border-radius: 5px;
  border-top: 1px solid rgb(207, 207, 207);
  border-right: 1px solid rgb(207, 207, 207);
  border-bottom: 1px solid rgb(207, 207, 207);
  border-left: 1px solid rgb(207, 207, 207);
  border-image: initial;
  font-family: helvetica;
  font-style: normal;
  width: 95%;
  height: 100px;
  text-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 8px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 8px 0px inset;
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
}



div#mppl_widget #contact-button {
  cursor: pointer;
  text-decoration: none;
  float: none;
  margin-bottom:30px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border-top: 1px solid rgb(0, 84, 163);
  border-right: 1px solid rgb(0, 84, 163);
  border-bottom: 1px solid rgb(0, 84, 163);
  border-left: 1px solid rgb(0, 84, 163);
  border-image: initial;
  font-family: helvetica;
  font-style: normal;
  display: table;
  font-weight: bold;
  width: 99%;
  height: 38px;
  font-size: 16pt;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(61, 136, 204);
  background-image: -webkit-linear-gradient(270deg, rgb(61, 136, 204) 0%, rgb(3, 81, 153) 100%);
}

div#mppl_widget #contact-button:hover {

    box-shadow: inset 0 1px 0 0  #62b1e9;
   -moz-box-shadow: inset 0 1px 0 0  #62b1e9;
  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
    text-shadow: 0 -2px 2px #1d62ab;
  }

div#mppl_widget #contact-button:active {

      border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  }



div#mppl_widget #price_range {
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin: 10px 0px 10px 30px;
  float: left;
  line-height: 30px;
  width:40%;
}

div#mppl_widget #pledge_now {
  width:40%;
  margin-bottom:40px;
  position:relative;
  float: right;
}

div#price_details {
  margin-top:10px;
  margin-bottom:20px;
  position:relative;
  width:100%;
}

select {
  float: right;
}

@media handheld, only screen and (max-width: 767px) {

    div#mppl_widget ul#navigation {
  height: 23px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

div#mppl_widget ul#navigation li {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  margin: 0 5px 0 0;
  background-color: #2B477D;
  border: solid 1px #415F9D;
  position: relative;
  z-index: 1;
}

div#mppl_widget ul#navigation li.selected {
  z-index: 6;
}

div#mppl_widget ul#navigation li.shadow {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  border: none;
  background: none;
  z-index: 2;
  -webkit-box-shadow: #111 0 -2px 6px;
  -moz-box-shadow: #111 0 -2px 6px;
  box-shadow: #111 0 -2px 6px;
}

div#mppl_widget ul#navigation li a:link, ul#navigation li a:visited {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  text-align: center;
  height: 13px;
  line-height: 1.9em;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  outline: none;
  float: left;
  background: #1c738c;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
}

div#mppl_widget ul#navigation li a:hover {
  background-color: #12a1cd;
}

div#mppl_widget ul#navigation li.selected a:link,
div#mppl_widget ul#navigation li.selected a:visited {
  color: #2B477D;
  border: solid 1px #fff;
  height:11px;
  -webkit-transition: background-color 0.2s linear;
  background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2f2f2),color-stop(.8, #d1d1d1));
  background-color: #f2f2f2;
}

div#mppl_widget ul#navigation li  a {
  padding: 0px 10px 15px 10px;
}

.placeholder { color: #aaa; }