
<div class="three columns centered form-field">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
		:html => { :class => 'form-horizontal nice' }) do |f| %>


  	<%= f.text_field :email, :required => true, :autofocus => true, class: "input-text", placeholder: t('forms.email') %>
    <%= f.password_field :password, :required => true, class: "input-text", placeholder: t('user.edit.password') %>

<!--     <%= f.label :remember_me %>
    <%= f.check_box :remember_me, {checked: true} %>
 -->

    <%= f.submit t('buttons.login'), class: "nice login radius green button"  %>

<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
