<%= simple_form_for([@offer, @payment]) do |f| %>
  <%= f.input :pledge_id, :collection => @pledgers %>
  <%= f.input :amount, :collection => @offer.prices, include_blank: false %>
  <%= f.input :currency %>
  <%= f.input :timestamp %>
  <%= f.input :ack %>
  <%= f.input :correlationId %>
  <%= f.input :build %>
  <%= f.input :paykey %>
  <%= f.input :payment_exec_status %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                offer_payments_path(@offer), :class => 'btn' %>
  </div>
<% end %>
