<%- model_class = Payment.new.class -%>

<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:pledge_id) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:currency) %></th>
      <th><%= model_class.human_attribute_name(:timestamp) %></th>
      <th><%= model_class.human_attribute_name(:ack) %></th>
      <th><%= model_class.human_attribute_name(:correlationId) %></th>
      <th><%= model_class.human_attribute_name(:build) %></th>
      <th><%= model_class.human_attribute_name(:paykey) %></th>
      <th><%= model_class.human_attribute_name(:payment_exec_status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>

      <tr>
        
        <td><%= payment.pledge_id %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.currency %></td>
        <td><%= payment.timestamp %></td>
        <td><%= payment.ack %></td>
        <td><%= payment.correlationId %></td>
        <td><%= payment.build %></td>
        <td><%= payment.paykey %></td>
        <td><%= payment.payment_exec_status %></td>
        <td><%=l payment.created_at %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
