<%- model_class = Payment.new.class -%>
<h1><%= link_to @offer.title, @offer %> <%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:pledge_id) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:currency) %></th>
      <th><%= model_class.human_attribute_name(:timestamp) %></th>
      <th><%= model_class.human_attribute_name(:ack) %></th>
      <th><%= model_class.human_attribute_name(:correlationId) %></th>
      <th><%= model_class.human_attribute_name(:build) %></th>
      <th><%= model_class.human_attribute_name(:paykey) %></th>
      <th><%= model_class.human_attribute_name(:payment_exec_status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= link_to payment.id, offer_payment_path(@offer, payment) %></td>
        <td><%= payment.pledge_id %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.currency %></td>
        <td><%= payment.timestamp %></td>
        <td><%= payment.ack %></td>
        <td><%= payment.correlationId %></td>
        <td><%= payment.build %></td>
        <td><%= payment.paykey %></td>
        <td><%= payment.payment_exec_status %></td>
        <td><%=l payment.created_at %></td>
        <td>

<!--           <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      offer_payment_path(@offer, payment),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %> -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- 
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_offer_payment_path(@offer),
              :class => 'btn btn-primary' %>
 -->
 
<%= link_to t('.back', :default => t("helpers.links.back")),
              offer_path(@offer), :class => 'btn'  %>