<%- model_class = @payment.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:pledge_id) %>:</strong></dt>
  <dd><%= @payment.pledge_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @payment.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:currency) %>:</strong></dt>
  <dd><%= @payment.currency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:timestamp) %>:</strong></dt>
  <dd><%= @payment.timestamp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ack) %>:</strong></dt>
  <dd><%= @payment.ack %></dd>
  <dt><strong><%= model_class.human_attribute_name(:correlationId) %>:</strong></dt>
  <dd><%= @payment.correlationId %></dd>
  <dt><strong><%= model_class.human_attribute_name(:build) %>:</strong></dt>
  <dd><%= @payment.build %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paykey) %>:</strong></dt>
  <dd><%= @payment.paykey %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_exec_status) %>:</strong></dt>
  <dd><%= @payment.payment_exec_status %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              offer_payments_path(@offer), :class => 'btn'  %>

<!--   <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      [@offer, @payment],
                      :method => :delete,
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %> -->
</div>
