
<div class="row">
  <div class="eight columns">
    <%= simple_form_for @offer,
    {
      :html => { :class => 'form-horizontal nice' },
      :defaults => { :input_html => { :class => 'input-text offer-form' }, :label_html => { :id => 'offer-form' } }
    } do |f| %>
      <%= f.input :pioneer_discount, as: :hidden %>
      
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <%= f.input :title  %>
      <%= f.input :details, as: :text, input_html: { rows: 1 } %>
      <%= f.input :website %>
      <%= f.input :image_url %>
      <%= f.association :category, :include_blank => false %>
      <br><br>
      <div id="chart_editor">

        <div id="chart_editor_top">

          <div id="price_limits" >
            <%= f.input :max_price, label: "", input_html: {id: 'offer_max_price'} %>
            <br><br><br><br><b><b class="price_range">Price Range</b>
            <%= f.input :min_price, label: "", input_html: {id: 'offer_min_price'} %>
          </div>

          <div id="offer_form_chart_container">
            <%= render partial: "common/chart" %>
          </div>

        </div>

        <div id="chart_editor_bottom">
          <div id="people_limits">
            <%= f.input :min_people, label: "", input_html: {id: 'offer_min_people'} %>
            <%= f.input :max_people, label: "", input_html: {id: 'offer_max_people'} %>
          </div>
        </div>

      </div>
    </div>
      <div class="four columns">

      <%= f.input :payment_collection_date, as: :date_picker, 
                              input_html: {id: 'date_picker'}  %>
        <div class="form-actions">
          <% unless @offer.new_record? %>
            <% if @offer.published? %>
              <span>Published</span>
            <% else %>
              <%= f.button :submit, :class => 'btn-primary', value: 'Publish',
                            :confirm => 'Are you sure you are ready to publish your offer? Once it has been published you can not edit it. If you are ready click OK and our staff will check the offer for qaulity assurance.' %>
            <% end %>
          <% end %>
          <%= f.button :submit, :class => 'nice big radius green button' %>
        </div>
      </div>
    <% end %>
</div>


<script type="text/javascript">
  $(function(){
    var $form = $("form");
    $("input[type=number]").change(function(){
    
      var form_data = $form.serialize();
      console.info(form_data);
      var url = "<%= chart_offers_path %>";
      $.ajax(url, {
        data: form_data,
        dataType: "json",
        success: function(chart_data){
          
          console.info(chart_data);
          var chart = $.mppl_chart;
          
          var price_series = chart.get("price");
          if(price_series){
            price_series.setData(chart_data.price_steps);  
          }
          
          if(chart_data.income_steps){
            chart.get("income").setData(chart_data.income_steps);
          }

          chart.redraw();
          
        }
      });
      
    });
  });
</script>


