<div id="offer_container" class="offers clearfix">
  <%
    @offers.each do |offer|
  %>
  <!-- Box -->

  <div class="box">

    <!-- Offer -->
    <div class="offer">

      <!-- Info -->
      <div class="info">
        <%= render partial: "masonry/offer_info", locals: { offer: offer } %>
      </div>

      <!-- Offer Image -->
      <div class="offer_image" >
        <%= image_tag offer.image_url, alt: offer.title, width: "280px" %>
      </div>

    </div><!-- Offer End -->
  </div><!-- box end -->
  <% end %>
</div><!-- Offer Collection End -->

