<div class="row offer-details">
  <section class="seven columns push-five offer_show_chart">
    <%= render "common/chart" %>
  </section>
  <%= image_tag(@offer.image_url, class: "five columns pull-seven offer-show-img",
      alt: @offer.title) %>
</div>