<%= simple_form_for([@offer, @pledge]) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :amount, include_blank: false, label: t('offer.show.choose_your_price') do %>
        <%= f.select :amount,  offer_price_options(@offer), id: "offer-show-select" %>
      <% end %>
    </div>

  <div class="form-actions" id="paypal-pledge-now">

    <%= f.button :submit, type: :image, src: MPPL.config.paypal_button_url, class: "btn paypal", alt: "pledge now", value: nil, id: "paypal_offer_show" %>
  </div>
  <% end %>


