<link rel="stylesheet" href="<%= root_url %>widgets/styles.css" type="text/css" media="screen" />
<link rel="stylesheet" href="<%= root_url %>widgets/faq.css" type="text/css" media="screen" />
<script>
 	var price_values = <%= @offer.price_steps %>;
  var income = <%= (can? :manage, :all) ? @offer.income : [] %>;
  var max_income = <%= @offer.income_max %>;
  var min_income = <%= @offer.income_min %>;
  var translations = {people: '<%= t ('chart.people') %>',
                    price: '<%= t ('chart.price') %>',
                    income: '<%= t ('chart.income') %>',
                    title: '<%= t ('chart.title') %>',
  console.info({
  	price_values: price_values,
  	income: income,
  	max_income: max_income,
  	min_income: min_income
  });
</script>

<!--[if gte IE 6]>
<style type="text/css">

ul#navigation li.selected a:link, ul#navigation li.selected a:visited {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#f2f2f2'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#f2f2f2')"; /* IE8 */
}

</style>
<![endif]-->



<ul id="navigation">
	<li class="mppl_widget_tab" style="float:<%= @textalign %>;"><a href="#"><%= t 'widget.price.tab' %></a></li>
	<li class="mppl_widget_tab" style="float:<%= @textalign %>;"><a href="#"><%= t 'widget.contact.tab' %></a></li>
	<li class="mppl_widget_tab" style="float:<%= @textalign %>;"><a href="#"><%= t 'widget.video.tab' %></a></li>

</ul>

<div class="content" >

	<div class="widget_body">

		<div class="mppl_widget_sheet" style="position: relative;">
			<%= render "widgets/price_sheet" %>
		</div>


		<div class="mppl_widget_sheet">
			<%= render "widgets/details_sheet" %>
		</div>

		<div class="mppl_widget_sheet">
			<%= render "widgets/faq_sheet" %>
		</div>

		<div class="mppl_widget_sheet">
			<%= render "widgets/contact_us_sheet" %>
		</div>

		<div class="mppl_widget_sheet">
			<%= render "widgets/video" %>
		</div>

	</div><!-- widget body -->


	<div id="widget_footer">
		<h2><%= link_to t('widget.powered_by_mppl'), root_url %></h2>

	</div>

</div>
<script>
	    jQuery(document).ready(function($) {



	    	var tabs = $(".mppl_widget_tab");

    		var sheets = $(".mppl_widget_sheet");
    		for(var i=0; i<tabs.length; i++){

    			if(sheets[i]){
    				var sheet = $(sheets[i]);
    				tabs[i].sheet = sheet;
    				sheet.hide();
    			} else {
    				var sheet = { show: function(){}};
    				tabs[i].sheet = sheet;

    			}

    		}

    		tabs.click(function() {
    			tabs.removeClass("selected");
    			$(this).addClass("selected");

    			sheets.hide();

          var sheet = ($(this)[0]).sheet;
    			sheet.show();
    			return false;
    		});


    		tabs[0].click();

    	 });
</script>



