<style type="text/css">

</style>

<div>
 	<header>
 		<h1><%= link_to @offer.title, offer_url(@offer) %></h1>
    <%= @offer.details %>
 	</header>
 	<div>
 		<%= image_tag @offer.image_url %>
 		<div>
 			<dt class="has-tip tip-left" data-width="130" title="When you pledge no funds are transfered until the payment date.">Pledge Now</dt>
        <dd>
          <%= simple_form_for([@offer, @pledge], url: offer_pledges_url(@offer)) do |f| %>
            <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :amount, :collection => @offer.prices, include_blank: false, label: t("Choose Your Price") %>
          </div>

          <div class="form-actions">
          <% paypal_gif = "https://www.paypalobjects.com/en_US/i/bnr/bnr_MSPFbanner_ec2_143x32.gif" %>
            <%= f.button :submit, type: :image, src: paypal_gif, class: "btn paypal", alt: "pledge now", value: nil %>
          </div>
          <% end %>

        </dd>

 		</div>
 	</div>
</div>