
<script type="text/javascript" src="<%= embed_offer_url(@offer, format: :js) + "?locale=#{@locale}" %>"></script>

<iframe src="<%= offer_url(@offer) + "?locale=#{@locale}" %>"
	width="500" height="500" frameborder="0"></iframe>