
<p id='notice'>
	<% if notice %>
	<%= notice %>
	<% end %>
</p>

<% if @pledge.errors.any? %>
<div class="validation_errors">
	<h3><%= pluralize(@pledge.errors.count, "error") %> prohibited this offer from accepting cash:</h3>
	<ul>
		<% @pledge.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>


<h1><%= t('offer.manual_pledge.title') %></h1>

<%= form_for @offer, url: receive_cash_offer_path(@offer), method: :post,  :html => { :class => 'form-horizontal nice' } do |f| %>

<%= text_field(:user, :name, class: "input-text", placeholder: t('forms.name'))%>

<%= text_field(:user, :email, class: "input-text", placeholder: t('forms.email')) %>
<div id = "offer-manual-pledge-amount">
<%= select(:pledge, :amount, @offer.prices, :prompt => t('offer.manual_pledge.choose_amount')) %>
</div>
  <div class="form-actions">
  	<%= link_to t('helpers.links.back'), offer_path(@offer), class: "small nice radius green button"  %>
    <%= f.button t('offer.manual_pledge.submit'), :value=>"Cash Accepted", :class => 'large blue nice radius button cash-pledge' %>
  </div>
<% end %>
