{
	"id": <%= @offer.id.to_json %>,
	"min_price": <%= @offer.min_price %>,
	"max_price": <%= @offer.max_price %>,
	"min_people": <%= @offer.min_people %>,
	"max_people": <%= @offer.max_people %>,
	"price_steps": <%= @offer.price_steps %>,
	"income_steps": <%= @offer.income %>
}