(function(){
	var container = document.getElementById("mppl_widget_<%= @offer.id %>");
	if(!container){ return; }
	var iframe = document.createElement("iframe");
	iframe.src = "<%= widget_offer_url(@offer) %>?locale=<%= @locale %>";
	iframe.width = <%= @viewport[:width] %>;
	iframe.height = <%= @viewport[:height] %>;
	iframe.frameBorder = "0";
	iframe.scrolling = "no";
	container.appendChild(iframe);
}())

