
<h1><%= t 'my_offers.h1' %></h1>
<table class="bordered">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'my_offers.title' %></th>
      <th id="people" ><%= t 'my_offers.people' %></th>
      <th id="price_range" ><%= t 'my_offers.price_range' %></th>
      <th id="pioneer_discount" ><%= t 'my_offers.pioneer_discount' %></th>
      <th id="payment_date" ><%= t 'my_offers.payment_date' %></th>
      <th id="pledges" ><%= t 'my_offers.pledges' %></th>
      <th><%= t 'my_offers.status' %></th>
      <th><%= t 'my_offers.current_price' %></th>
      <th id="next_pledge" ><%= t 'my_offers.next_pledge' %></th>
      <th><%= t 'my_offers.actions' %></th>
    </tr>
  </thead>

    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.id %></td>
        <td><%= link_to offer.title, offer_path(offer) %></td>
        <td id="people" ><%= offer.min_people %> &rarr; <%= offer.max_people %></td>
        <td id="price_range" ><%= offer.min_price %> &rarr; <%= offer.max_price %></td>
        <td id="pioneer_discount" ><%= offer.pioneer_discount %>%</td>
        <td id="payment_date" ><%= offer.payment_collection_date %></td>
        <td><%= offer.available_pledges.count %> / <%= offer.max_people %></td>
        <td><%= offer.status_str %></td>
        <td><%= offer.current_offer_price %></td>
        <td id="next_pledge" ><%= offer.next_pledge_price %></td>
        <td>
          <% if can? :update, offer %>

          <%= link_to image_tag("http://png-4.findicons.com/files//icons/1588/farm_fresh_web/16/pencil.png"), edit_offer_path(  offer) %>
            <%= link_to image_tag("http://icons.iconarchive.com/icons/visualpharm/must-have/16/Delete-icon.png"), offer_path(offer),
                      :method => :delete,
                      :confirm => 'Are you sure?' %>



          <% else %>
                <%= link_to "Pledge Now", new_offer_pledge_path(offer),
                class: "small blue button"  %>
          <% end %>

        </td>
    </tr>
    <% end %>

</table>
<br>
<% if @offers.empty? %>
  <h2>Why so empty?</h2>
  <h4>Ready to sell something?</h4>
<% end %>
<br>
<% unless current_user.nil? %>
  <%= link_to t('my_offers.create_offer'), new_offer_path, class: "nice large radius blue button" %>
<% end %>