<%= __FILE__ %>
<style type="text/css">
	.widget_preview {
		border: solid #000 1px;
		width: 480px;
		height: 650px;
		position: relative;	
	}

	.widget_code {
		margin-top: 50px;
		position: relative;
	}

</style>

<div>

	<div class="widget_preview">
		<p>before widget</p>
		<%= render "snippet" %>
		<p>after widget</p>
 	</div>

 	

	<div class="widget_code">
 		<textarea cols=80 rows=4 id="widget_code_textarea" dir="ltr">
 			<%= render "snippet" %>
 		</textarea>
 	</div>

</div>
