

<% title "More People Pay Less | " + @title %>

<div class= "row">
  <%
      left = 10;
      right = 12 - left;
  %>
    <div class="<%= left.humanize %> columns">

      <h1 class="offer-title" id="offer-title">
        <% if can? :update, @offer %>
        <%= link_to image_tag("http://png-4.findicons.com/files//icons/1588/farm_fresh_web/16/pencil.png"), edit_offer_path(@offer) %>

      <% end %>
        <%= @offer.title %>
      </h1>
        <p><%= @offer.details %>
        <% if @offer.website %> |
          <%= link_to t('offer.show.website'), @offer.website, target: "_blank" %> |
        <% end %>
        <%= mail_to @offer.user.email, t('offer.show.contact_seller'), subject: "Hi #{@offer.user.name}, I'm interested in your #{@offer.title} Offer" %>
        </p>

        <%= render partial: "offers/offer_details" , :locals => { :offer => @offer } %>
        <% if @offer.pledges.count > 0 %>
        <%= render partial: "pledges/list" , :locals => { :offer => @offer } %>
        <% end %>

    </div>
  <div class="<%= right.humanize %> columns offer-sidebar" id="offer_sidebar" >

        <% if (current_user && cannot?(:update, @offer) && !current_user.try(:pledged?, @offer)) %>
          <div class="follows" id="follow_form" style="display: none;">
              <%= button_to "Follow", add_follower_offer_path(@offer), remote: true, method: :post,
              :id => 'follow_button' , :class => 'green radius nice follow button' %>
          </div>
          <div class="follows" id="unfollow_form" style="display: none;">
              <%= button_to t('hp.show.following'), remove_follower_offer_path(@offer), remote: true, method: :post,
              :id=>'unfollow_button', :class => 'blue radius nice follow button' %>
          </div>
        <% end %>
        <% if(current_user.try(:pledged?, @offer)) %>
          <div class="follows">
              <%= button_to (t('offer.show.pledged_button')), "#", remote: true, method: :post,
              :id => 'pledged_button' , :class => 'white radius follow button' %>
          </div>
        <% end %>

      <dl class="offer-details">
        <% if !@offer.pioneer_discount.nil? %>
        <dt><% @offer.pioneer_discount %></dt>
        <dd><strong><% t 'pioneer_discount' %></strong></dd>
        <% end %>
        <dt>
          <%= @offer.payment_collection_date %>

        </dt>
        <dd><strong><%= t ('offer.show.days_left') %></strong></dd>

        <dt><%= @offer.available_pledges.count %> / <%= @offer.max_people %></dt>
        <dd><strong> <%= t 'offer.show.pledged' %></strong> </dd>

        <dt><%= @offer.status.to_s.capitalize %></dt>
        <dd><strong><%= t 'offer.show.status' %></strong></dd>

        <% if can? :view_offer_price, @offer %>
          <dt> <%= @offer.current_offer_price %><span class="currency-unit">&#8362;</span></dt>
          <dd><strong><%= t 'offer.show.current_price' %></strong></dd>
        <% end %>

        <% if cannot? :update, @offer %>
          <dt> <%= @offer.next_pledge_price %></dt>
          <dd><strong><%= t 'offer.show.next_pledge_price' %></strong></dd>
         <% end %>

        <dt class="has-tip tip-left" data-width="130" title="When you pledge no funds are transfered until the payment date.">Pledge Now</dt>

        <dd>
          <%= render partial: "paypal_pledge"  %>
        </dd>

        <div class="offer_owner_actions">

          <% if can? :update, @offer %>

            <%= link_to "Payments", offer_payments_path(@offer),
                        class: "nice radius black tiny button"  %>

            <% if can? :accept_cash, @offer %>
            <%= link_to "Collect Cash", accept_cash_offer_path(@offer),
                                  class: "nice radius blue tiny button" %>
            <% else %>
            Can't accept cash <%= @offer.active? ? "any more" : "yet" %>
            <% end %>
          <% end %>

        </div>

      </dl>
  </div>
</div>




<script type="text/javascript" >
 <%= render template: "widgets/translations.js" %>
</script>

<script type="text/javascript">
  /* var price_values = <%= @offer.price_steps %>;
  var income = <%= (can? :manage, :all) ? @offer.income : [] %>;
  var max_income = <%= @offer.income_max %>
  var min_income = <%= @offer.income_min %>
  mppl_chart();*/

  $(function(){
    $("#widget_code_textarea").click(function(){
      $this = $(this);
      $this.focus();
      $this.select();
    });

    if(<%= @following.new_record? %>){
      $("#follow_form").show();
    } else {
      $("#unfollow_form").show();
    }
    $("#unfollow_button").mouseover(function(){
      $this = $(this);
      $this.removeClass('blue');
      $this.addClass('red');
      $this.val('Unfollow');
    }).mouseleave(function(){
      $this = $(this);
      $this.removeClass('red');
      $this.addClass('blue');
      $this.val('Following');
    });
  });
</script>