<div class= "row">

  <div class= "three columns">
  <%= image_tag ("thank-you.jpg") %>
</div>
<div class="nine columns">

  <h1><%= t 'thankyou.title' %> <%= link_to @offer.title, offer_path(@offer) %></h1>

    <br>
    <h4><%= t 'thankyou.p1' %> <b><%= link_to t('thankyou.here'), my_pledges_url %></b>.</h4>
    </br>


    <p><%= t 'thankyou.spread_the_news' %></p>

    <%= link_to "FaceBook", 'https://www.facebook.com/sharer.php?u=' +
        offer_url(@offer) + '&t=' + @offer.title, target: :blank %> |
    <%= link_to "Twitter", 'http://twitter.com/home?status=' + ' I found a great offer - ' + @offer.title + ' The more people that buy the less everyone pays! ' + offer_url(@offer) + '#MPPL', target: :blank %> |
    <%= link_to "Google +", 'https://plus.google.com/share?url=' + offer_url(@offer), target: :blank %> |
    <%= link_to "Digg", 'http://digg.com/submit?url=' + offer_url(@offer), target: :blank %> |
    <%= link_to "StumbleUpon", 'http://www.stumbleupon.com/submit?url=' + offer_url(@offer) + '&title=' + @offer.title, target: :blank %> |
    <%= mail_to "friends@friends.com", 'Email', subject: "Hey Dude, I found this great offer you might like", body: "the cool thing is that if we can get more people to pledge for the offer the price keeps going down. Are you in?", target: :blank %>

    <br>
    <br>

    <h3><%= t'thankyou.start_an_offer' %></h3>


    <h1><%= link_to t('hp.links.create_offer'), new_offer_path, class: "nice radius large button" %> </h1>

</div>
</div>

