(function() {


		function loadScript(url, cb){
			var script_tag = document.createElement('script');
	    script_tag.setAttribute("type","text/javascript");
	    script_tag.setAttribute("src", url);
	    if (script_tag.readyState) {
	      script_tag.onreadystatechange = function () { // For old versions of IE
	          if (this.readyState == 'complete' || this.readyState == 'loaded') {
	              cb();
	          }
	      };
	    } else { // Other browsers
	      script_tag.onload = cb;
	    }
	    // Try to find the head, otherwise default to the documentElement
	    (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(script_tag);
		}

		function loadScripts(urls, cb){
			var url = urls.pop();
			
			if(url){
				console.log("going to load " + url);
				loadScript(url, loadScripts(urls, cb));	
			} else {
				console.log("all scripts loaded");
				cb();
			}
		}

    function main() { 
    	var translations_js = "<%= root_url %>widgets/translations.js?locale=<%= @locale %>";
    	var charts_js = "<%= root_url %>widgets/highcharts/highcharts.js";
      var offers_js = "<%= root_url %>widgets/offers.js";
      var paypal_js = "https://www.paypalobjects.com/js/external/dg.js";
      var urls = [translations_js, charts_js, offers_js, paypal_js];

      loadScripts(urls, function(){});
      
      $ = jQuery;

      jQuery(document).ready(function($){
      	$("#mppl_widget").html("<%= j render 'tabbed_widget_2' %>");
      });


  }

 

	/******** Load jQuery if not present *********/
	if (window.jQuery === undefined || window.jQuery.fn.jquery !== '1.7.2') {
	    var script_tag = document.createElement('script');
	    script_tag.setAttribute("type","text/javascript");
	    script_tag.setAttribute("src",
	        "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js");
	    if (script_tag.readyState) {
	      script_tag.onreadystatechange = function () { // For old versions of IE
	          if (this.readyState == 'complete' || this.readyState == 'loaded') {
	              scriptLoadHandler();
	          }
	      };
	    } else { // Other browsers
	      script_tag.onload = scriptLoadHandler;
	    }
	    // Try to find the head, otherwise default to the documentElement
	    (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(script_tag);
	} else {
	    // The jQuery version on the window is the one we want to use
	    jQuery = window.jQuery;
	    main();
	}

	/******** Called once jQuery has loaded ******/
	function scriptLoadHandler() {
	    // Restore $ and window.jQuery to their previous values and store the
	    // new jQuery in our local jQuery variable
	    jQuery = window.jQuery.noConflict(true);
	    // Call our main function
	    main(); 
	}
})(); // We call our anonymous function immediately


