<!-- TODO: use  HTML boilerplate --> 
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "More People Pay Less" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="https://www.paypalobjects.com/js/external/dg.js"></script>
   
   <script type="text/javascript" >
 			<%= render template: "widgets/translations.js" %>
			var price_values = <%= @offer.price_steps %>;
  		var income = <%= (can? :manage, :all) ? @offer.income : [] %>;
  		var max_income = <%= @offer.income_max %>
  		var min_income = <%= @offer.income_min %>
  	</script>

    <%= csrf_meta_tags %>
		<style type="text/css">
			<% footer_height = 50 %>
			* { margin:0; padding:0; } 

			html {
				direction: <%= (@locale.in? ['he', 'ar']) ? 'rtl' : 'ltr' %>;
			}

			div.highcharts-container {
				direction: ltr;
			}
			g.highcharts-tooltip {
				padding: 10px;
			}
			html, body, #wrap { height: 600px; }

			body > #wrap {height: auto; min-height: 100%; font-family: Helvetica;}

			#main { padding-bottom: <%= footer_height %>px; }  /* must be same height as the footer */

			#footer { 
			  position: relative;
				margin-top: -<%= footer_height %>px; /* negative value of footer height */
				height: <%= footer_height %>px;
				background-color: #339999;
				clear:both;
				-webkit-border-radius: 10px;
				border-radius: 10px;
			} 

			/* CLEAR FIX*/
			.clearfix:after {content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;}
			.clearfix {display: inline-block;}
			/* Hides from IE-mac \*/
			* html .clearfix { height: 1%;}
			.clearfix {display: block;}
			/* End hide from IE-mac */

			#details_header {
				height: 60px;
				background-color: #339999;
				margin: auto;
				text-align: center;
			}
			#explanation{
				margin: 5px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 0.7em;
			}
			#chart {
				width: <%= @viewport[:width] - 20 %>px;
				/*height: <%= @viewport[:width]/2 %>px;*/
				margin: 0 auto;
				
			}

			#chart h1 {
				font-size: 21px;
				
			}

			#chart h3 {
				font-size: 21px;
				
			}


			#mppl_chart {
				/*style="width: 94%; height: 230px;"*/
				/*height: 200px;*/
				
			}

			select {
				float: right;
				width: 200px;
				height: 40px;
				font-size: 16px;
			}

			label {
				font-size: 18px;
				font-style: bold;
			}

			input { 
				width: 300px;
				margin-top: 30px;
			}

		</style>
	</head>
	<body>
		<div id="wrap">
				
			<div id="main" class="clearfix">
					<div id="details">
						<div id="details_header">
							<h2><%= @offer.title %></h2>

						</div>
											
						<div id="chart">
							<%= render partial: "widgets/price_sheet" %>
						</div>

						<div id="terms">
							*on Monday the 12.9.12 we are we are closing the registrations and determing the final price<br>
							*You will only be charged if your pledge is equal or less than the final price.<br>
						</div>
					</div>
					<div id="pledge">
						
					</div>
			</div>

		</div>

		<div id="footer">
				footer
		</div>
	</body>
</html>