/*
 *= require foundation_2
 *= require_self
 *= require jquery.ui.datepicker
 *= require_tree .
 */

a { color: #2a85e8; text-decoration: none; line-height: inherit; }

// *= require joyride/joyride //

a:active { color: #000; }
header {

  position: fixed;
  ul.nav-bar {
    z-index: 10;
    li {
      a {
        color: #fff;
      }

    }
  }
}

#container {
 min-height:100%;
 position: relative;
}

#grid-container {
  position: relative;
  margin-top: 60px;
}

#body {
 padding:16px;
 padding-bottom: 45px;
}


