* { margin:0; padding:0; }

html, body, #wrap { height: 100%; }

body > #wrap {height: auto; min-height: 100%;}

#main { padding-bottom: 45px; }  /* must be same height as the footer */

#footer {
background-color: #f9f9f9;
position:absolute;
bottom:0;
width:100%;
height: 45px;
/*clear:both;*/
}


/* CLEAR FIX*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac */
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.footer>li {
	float: left;  display: block; position: relative;
	padding: 5px 15px 5px 15px; margin: 0; line-height: 36px;
}
.footer>li:hover { float: left;  display: block; position: relative;  margin: 0; line-height: 35px; }
.footer>li>a.main { position: relative; padding: 20px; display: block;
	text-decoration: none; font-size: 15px; font-size: 1.5rem; }
.footer>li>input { margin: 0 16px; }
.footer>li ul { margin-bottom: 0; }
.footer>li li { line-height: 1.3; }