
.logo a { font-family: 'ColaborateThinRegular'; color: #036564; font-weight:bold; }
header ul.nav-bar li.logo a {  color: #12a1cd;  font-size: 225%; border: 0px;}
header ul.nav-bar li a {  color: #35a09e;  font-size:15px; }
header ul.nav-bar li a:hover {  color: #1c738c; }


  #intro {
    width: 100%;
    height: 416px;
    color: #ccc;
    padding: 20px;
  }

  #intro h1 {
    color: #1c738c;
    font-size:66px;
  }

  #intro h2 {
    font-size:36px;
  }

  #intro p {
    color: #555;
  }

  #intro article {

    height: 100%;
  }

  #intro div.call_to_action {
    position: absolute;
    bottom: 0;
  }

  #intro div.call_to_action input.button {
    position: absolute;
    bottom: 0;
  }

  a#hp_button {
    width:280px;
    padding:25px;
    height: 25px;
    font-size:24px;
    border-radius:5px;
  }

  a#browse_offers_button {
    width:280px;
    padding:25px;
    height: 25px;
    background-color: #1c738c;
    font-size:24px;
    border-radius:5px;
  }

  a#create_offers_button {
    width:280px;
    padding:25px;
    height: 25px;
    font-size:24px;
    border-radius:5px;
  }

  .video_container {
    width:100%;
    height:auto;
    margin:0px 35px;
    position: relative;
    z-index:0;
  }


  @media handheld, only screen and (max-width: 767px) {

      header ul.nav-bar li.logo a { font-size: 220%;}

      #intro {
        width: 100%;
        height: 170px;
        color: #ccc;
        padding: 16px;
      }

    #intro h1 {
        font-size:29px;
        margin-bottom:0;

      }

    #intro li {
        font-size:14px;
        line-height:0.8em;
      }

      .buyer_video {
        width:335px;
        height:188px;
      }

      a#browse_offers_button {
          width:305px;
          padding:15px;
          height: 20px;
          background-color: #1c738c;
          font-size:20px;
          border-radius:5px;
        }




  }




  /*13-15 inch laptop*/
  @media handheld, only screen and (max-width: 1440px) {

      header ul.nav-bar li.logo a { font-size: 220%;}

      #who {font-size: 44px;}

      #intro {
        width: 100%;
        height: 310px;
        color: #ccc;
        padding: 16px;
      }

    #intro h1 {
        font-size:48px;
        margin-bottom:0;

      }

      #intro h2 {
        font-size:26px;
      }

    #intro li {
        font-size:20px;
        line-height:1em;
      }

    .video_container {
      margin:0px 25px;
    }

      a#browse_offers_button {
          width:200px;
          padding:20px;
          height: 20px;
          background-color: #1c738c;
          font-size:22px;
          border-radius:5px;
        }

      a#create_offers_button {
        width:200px;
        padding:20px;
        height: 20px;
        font-size:20px;
        border-radius:5px;
      }


  }




  /*tablet landscape*/
  @media handheld, only screen and (max-width: 1024px) {

  #intro {
    height: 260px;
    padding: 20px;
  }

  #intro h1 {
    font-size:40px;
  }

  #intro h2 {
        font-size:22px;
  }


  a#browse_offers_button {
    width:180px;
    padding:20px;
    height: 20px;
    font-size:18px;
    border-radius:5px;
  }

  a#create_offers_button {
    width:180px;
    padding:20px;
    height: 18px;
    font-size:20px;
    border-radius:5px;
  }

  .video_container {
    margin:0px 10px;
  }
}


/*tablet portrait*/
  @media handheld, only screen and (max-width: 724px) {

  #intro {
    height: 260px;
    padding: 20px;
  }

  #intro h1 {
    font-size:58px;
    line-height: 1em;
  }

  #intro h2 {
        font-size:22px;
  }


  a#browse_offers_button {
    width:100px;
    padding:20px;
    height: 20px;
    font-size:18px;
    border-radius:5px;
  }

  a#create_offers_button {
    width:100px;
    padding:20px;
    height: 18px;
    font-size:20px;
    border-radius:5px;
  }

  .video_container {
    margin:30px;
  }

    #intro div.call_to_action {
    position: relative;
    width: 500px;

  }

  #intro div.call_to_action input.button {
    position: relative;

  }

}


/*tablet portrait*/
  @media handheld, only screen and (max-width: 390px) {

  #intro h1 {
    font-size:20px;
    line-height: 1em;
  }

  #intro h2 {
        font-size:16px;
  }

}