
/*  --------------------------------------------------
    Nav Bar with Dropdowns
    -------------------------------------------------- */

    .nav-bar { height: 48px; background: #008CFF;
position: fixed;

  width: 100%;

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 92%, #f4f4f4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(92%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 92%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 92%,#f4f4f4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 92%,#f4f4f4 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 92%,#f4f4f4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */


}


    .nav-bar>li { float: left;  display: block; position: relative; padding: 5px 15px 5px 15px; margin: 0; line-height: 36px;}
    .nav-bar>li:hover { float: left;  display: block; position: relative;  margin: 0; line-height: 35px; }
    .nav-bar>li>a.main { position: relative; padding: 20px; display: block; text-decoration: none; font-size: 15px; font-size: 1.5rem; }
    .nav-bar>li>input { margin: 0 16px; }
    .nav-bar>li ul { margin-bottom: 0; }
    .nav-bar>li li { line-height: 1.3; }
    .nav-bar>li.has-flyout>a.main { padding-right: 36px; }
    .nav-bar>li.has-flyout>a.flyout-toggle { position: absolute; right: 0; top: 0; padding: 22px; z-index: 2; display: block; }
    .nav-bar>li.has-flyout>a.flyout-toggle span { content: ""; width: 0; height: 0; border-left: 4px solid transparent;border-right: 4px solid transparent; border-top: 4px solid #2a85e8; display: block; }
    .flyout { background: #fff; margin: 0; padding: 20px; border: 1px solid #ddd; position: absolute; top: 45px; left: -1px; width: 400px; z-index: 10; }
    .flyout.small { width: 200px; }
    .flyout.large { width: 600px; }
    .flyout.right { left: auto; right: 0; }
    .flyout p:last-child { margin-bottom: 0; }
    .nav-bar>li .flyout { display: none; }

li.username {
    font-size:16px; 
    width: 110px;
    float: right;
    text-align: right;

}

li.username:hover {
    font-size:16px; 
    width: 110px;
    float: right;
    text-align: right;
}


.nav-bar a{

    color: #45818e;

    font: Arial, Helvetica;
    text-decoration: none;
/*    text-shadow: 0 3px 0 #000;*/
}

.nav-bar li:hover > a{
    color: #45818e;
}

html .nav-bar li a:hover{ /* IE6 */
    color: #000;
}

.nav-bar li:hover > ul{
    display: block;

}


.nav-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    left:0;
    top: 45px;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.nav-bar ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;


}

.nav-bar ul li:last-child{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-bar ul a{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;


}

header ul.nav-bar li a { color: #fff; border: 1px solid #999;}
header ul.nav-bar li a:hover { color: #45818e;}
header ul.nav-bar li.nav-login a {  color: #35a09e;  font-size: 125%; border: 0px;}
header ul.nav-bar li.nav-login a:hover {  color: #45818e;  font-size: 125%; border: 0px;}

html .nav-bar ul a{ /* IE6 */
    height: 10px;
    width: 110px;
}

*:first-child+html .nav-bar ul a{ /* IE7 */
    height: 10px;
    width: 10px;
}

.nav-bar ul a:hover{
        background: #fff;
}

.nav-bar ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #fff;
    border: 1px solid #999;
}


.nav-bar ul li:first-child a:after{
    content: '';
    position: absolute;
    right: 20px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
    color: #fff;
}

.nav-bar ul li:first-child a:hover:after{
    border-bottom-color: #04acec;
}

.nav-bar ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 4px 4px;
    color: #fff;
    border: 1px solid #999;
}

/* Clear floated elements */
.nav-bar:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .nav-bar             { zoom: 1; } /* IE6 */
*:first-child+html .nav-bar { zoom: 1; } /* IE7 */


/*  --------------------------------------------------
    Sub Navs
    http://www.zurb.com/article/292/how-to-create-simple-and-effective-sub-na
    -------------------------------------------------- */

    dl.sub-nav { display: block; width: auto; overflow: hidden; margin: -4px 0 18px -9px; padding-top: 4px; }
    dl.sub-nav dt, dl.sub-nav dd { float: left; display: inline; margin-left: 9px; margin-bottom: 4px; }
    dl.sub-nav dt { color: #999; font-weight: normal; }
    dl.sub-nav dd a { text-decoration: none; border-radius: 12px; }
    dl.sub-nav dd.active a { background: #00A6FC; color: #fff; padding: 3px 9px; }


 @media handheld, only screen and (max-width: 767px) {
    header ul.nav-bar li.nav-login a {font-size: 120%; margin-right: 0px; margin-left: -10px;}
 }
