/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

#offer_container {
  margin: 0 auto;
}
.box {
  margin: 10px 0px;
  .offer{
    width: 280px;

    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    img {
      padding: 0px;
      margin: 0px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }

    .info{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      z-index: 2;

      padding: 10px;
      cursor: pointer;

      background: rgba(255,255,255,0.8);
      display: none;

      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;

      box-shadow: 0 0 8px rgba(0, 0, 0, .4);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .4);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .4);

      .offer_title {
        font-color:orange;
      }
      .offer_details {

      }
      .offer_footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        .offer_progress {
          width: 260px;
          bottom: 5px;
          position: absolute;
        }

      }
    }

  }
}

  .offer_image {

      margin-bottom: -5px;
  }


.offer_price_range {
  bottom: 8px;
  position: absolute;
}

.offer_box_title {

  margin-bottom:5px;
  a { color: #036a8c;}
}
