// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.offer-title {
	line-height: 1.3;
	margin-top:10px;

}

input#paypal_offer_show {
	margin-top:10px;
}

.offer-sidebar {
	background-color: #45818e;
	min-height: 60%;
	top: 48px;
	bottom: 0;
	right: 0;
	position: fixed;
	padding: 20px;
	

	form {

			color: #000;
			font: 45px;
			font-family: Helvetica,Arial,sans serif;
			font-weight: bold;

			right: 20px;
			left: 20px;
			padding: 15px;
			position: absolute;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background: #fff;
		input {
			position: relative;
		}
		select {
			width: 140px;
		}
	}
}



dl.offer-details {

	dt {
		font-family: Helvetica,Arial,sans serif;
		font-weight: bold;
		font-size: 26px;
		line-height: 40px;
		color: #fff;

		span.currency-unit {
			font-size: 27px;
		}
	}

	dd {
		color: #DDD;
		line-height: 1px;
		margin-bottom: 25px;
		font-size: 14px;
	}

}

.pledge_list_name {
	form {padding:15px;}
	font-size: 20px;
	font-weight: bold;
}

.follows{
		form{
			background: transparent;
			padding: 0px;

		}
		margin-bottom: 45px;
}

.follow.button 	{ font-size: 20px; padding: 8px 30px; width:100%;}



form#new_pledge.simple_form.new_pledge { position:relative; left:0; right:0;}


.bordered {
	margin-top: 20px;
}

@media only screen and (max-width: 767px) { 

	.bordered tr:last-child td:first-child {
		font-size: 10px;

	}

	td.pledge_list_name img {display: none;}

	#pioneer_discount {display: none;}
	#payment_date {display: none;}
	#people {display: none;}
	#price_range {display: none;}
	#next_pledge {display: none;}
}

.offer-sidebar form select {
	margin: auto;
}

label#offer-form {
	float:left;
	font-size: 22px;
	margin:8px 15px 0 0;
	text-align: left;
}

div#offer_form_chart_container {
	width: 600px;
	border: 1px solid black ;
	position: relative;
	float: right;
	/*display: inline;*/
}

input.form_number_input{
	width: 80px;
}

div#chart_editor {
	width: 700px;
	height: 340px;
}
div#chart_editor_top {
	height: 300px;	
}
div#chart_editor_top div#price_limits {
	height: 300px;
	max-width: 100px;	
	float: left;
	position: relative;
}

div#chart_editor_top div#price_limits input {
	width: 80px;
	position: absolute;
}
div#chart_editor_top div#price_limits input#offer_max_price {
	top: 0;
	padding: 2px;
}
div#chart_editor_top div#price_limits input#offer_min_price {
	bottom: 0;
	padding: 2px;

}
div#chart_editor_bottom {
	background-color: #blue;
	height: 50px;
}


div#chart_editor_bottom div#people_limits input#offer_max_people {
	float:right;
	width: 50px;
}
div#chart_editor_bottom div#people_limits input#offer_min_people {
	float:left;
	margin-left: 80px;
	width: 50px;
}

form.nice div.form-field input, form.nice input.offer-form, form.nice textarea { width: 600px}

input#date_picker {width: 150px;}

label abbr {display: none;}

select#pledge_amount { }

div#offer-manual-pledge-amount select#pledge_amount { 
	width:255px;
	height:30px; 
	font-size:14px; 
}

.offer-details {margin-top:5px;}