// Place all the styles related to the Pledges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media only screen and (max-width: 767px) { 

	td.pledge_list_name {
		font-size: 12px;
	}

	td.pledge_list_name img {display: none;}

}