// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* { margin:0; padding:0; } 

			p#mppl_chart {
				height: 275px;
				
			}

			div.highcharts-container {
				direction: ltr;
				
			}
			g.highcharts-tooltip {
				padding: 10px;
			}
			html, body, #wrap { height: 100%; }

			body > #wrap {height: auto; min-height: 99%; border: 1px solid black; border-radius: 5px;}

			#main { padding-bottom: 20px; }  /* must be same height as the footer */

			#widget_footer { 
			  position: relative;
				margin-top: -20px; /* negative value of footer height */
				height: 20px;
				background-color: #12A1CD;
				clear:both;
				width: 99.8%;
				bottom:1px;
				left:1px;
				right:1px;
				border-radius: 0px 0px 4px 4px;
				text-align: center;
			} 

			/* CLEAR FIX*/
			.clearfix:after {content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;}
			.clearfix {display: inline-block;}
			/* Hides from IE-mac \*/
			* html .clearfix { height: 1%;}
			.clearfix {display: block;}
			/* End hide from IE-mac */

			#details_header {
				height: 35px;
				background-color: #12A1CD;
				border-radius: 4px 4px 0px 0px;

			}

			div#details_header h1{
				font-size: 24px;
				color: white;
				padding-top: 10px;
				text-align: center;

			}

			#explanation{
				margin: 5px;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 0.7em;
			}
			
			#widget_footer {
				color: white;
			}
			#widget_footer a {
				color: white;
				margin:15px;
			}

			div#chart h1 {
				font-size: 24px;
				padding-bottom:10px;
				text-align: center;
			}

			div#chart h2 {
				font-size: 22px;
				padding-top:10px;
				text-align: center;
			}


			div#pledge_now {
				font-size: 18px;
				text-align: center;
			}

			div#pledge_now label{

				font-size: 22px;

			}

			div#pledge_now select{

				font-size: 22px;

				margin:auto;
				width:350px;
				height: 50px;
			}

			div#pledge_now h2{
				font-size: 22px;

			}


			input#paypal-widget {
				background-color: orange;
				padding: 10px 100px 10px 100px;
				width: 150px;
				height: 33px;
				margin-top: 10px;
				border-radius: 10px;


				background: #eab45d; /* Old browsers */
				background: -moz-linear-gradient(top, #eab45d 0%, #f7a01d 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eab45d), color-stop(100%,#f7a01d)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #eab45d 0%,#f7a01d 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #eab45d 0%,#f7a01d 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #eab45d 0%,#f7a01d 100%); /* IE10+ */
				background: linear-gradient(to bottom, #eab45d 0%,#f7a01d 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab45d', endColorstr='#f7a01d',GradientType=0 ); /* IE6-9 */
			}

			input#paypal-widget:hover {
				
				background: #7abcff; /* Old browsers */
				background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
				background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
			}

			form#new_pledge.simple_form.new_pledge {
				text-align: center;
			}

			div.panel {
				background: transparent;
				box-shadow: 0 0px;
				padding: 0px;
			}

			form#new_pledge.simple_form.new_pledge { margin: 0px}

			div#terms {text-align: center; color: grey; font-size: 11px;} 