<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :parent, :include_blank => true %></div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
