<h1>Listing categories</h1>

<table class="bordered">
  <tr>
    <th>Category</th>
    <% if can? :update, @category %>
    <th>Parent</th>
    <th>Actions</th>
    <% end %>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.id %> - <%= link_to category.name, category %></td>
    <% if can? :update, @category %>
    <td><%= category.parent_id %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
