var price_values = <%= @offer.price_steps %>;
var income = <%= (can? :manage, :all) ? @offer.income : [] %>;
var max_income = <%= @offer.income_max %>;
var min_income = <%= @offer.income_min %>;
mppl_chart();

$(function(){
	$.mppl_chart.get("price").setData(price_values);	
});
