<!-- Offer Info -->
<div class="offer_info">

<div class="offer_title offer_box_title">
  <h4 class="image_tag_width"><%= link_to offer.title, offer %></h4>
</div>
<div class="offer_details">
  <%= offer.details %>
</div>

<h6 class="offer_price_range"><b><%= t('hp.offerbox.price_range') %> </b><%= offer_price_range(offer).html_safe %></h6><br>
</div><!-- offer info End -->