<ul class="footer">
    <li>
      <%= link_to t('hp.links.about'), about_path %>
    </li>
    <li>
      <%= link_to t('hp.links.blog'), "http://blog.morepeoplepayless.com" %>
    </li>
    <li>
      <%= link_to t('hp.links.how_it_works'), how_it_works_path %>
    </li>
    <li>
      <%= link_to t('hp.links.faq'), faq_path %>
    </li>
    <li>
      <%= link_to t('hp.links.privacy'), privacy_path %>
    </li>
    <li>
      <%= link_to t('hp.links.terms'), terms_path %>
    </li>
    <li>
      <a href="#" onClick="return SnapABug.startLink();"><%= t 'hp.links.contact_us' %></a>
    </li>
    <li style="float: right;">
      © 2012 MorePeoplePayLess
    </li>

    <li>
      <% unless @locale == "he" %>
        <%= link_to "עברית", params.merge( locale: "he" ) %>
        <% else %>
        <%= link_to "English", params.merge( locale: "en" ) %>
      <% end %>
    </li>

    <li>
      <% unless @locale == "it" %>
        <%= link_to "Italiano", params.merge( locale: "it" ) %>
        <% else %>
        <%= link_to "English", params.merge( locale: "en" ) %>
      <% end %>
    </li>


</ul>

<script type="text/javascript">
document.write(unescape("%3Cscript src='" + ((document.location.protocol=="https:")?"https://snapabug.appspot.com":"http://www.snapengage.com") + "/snapabug.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">
SnapABug.init("24cb96fa-e22a-4157-8306-f014b6b9577f");
</script>