<% flash.each do |name, msg| %>
  <div class="alert-box alert-<%= name == :notice ? "success" : "error" %>">
    <a href="" class="close">&times;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>