<style type="text/css">
.nav-bar ul li a {text-align: <%= @textalign %>;}
</style>

<ul class="nav-bar">
    <li class= "logo" ><%= link_to "morepeople", root_path %><%= link_to "payless", root_path,
            style: 'font-family:ColaborateMediumRegular; color: #1c738c' %></li>

    <% if user_signed_in? %>
    <li class="username" ><%= current_user.name %>
    <ul>

      <% unless current_user.offers.empty? or current_user.has_role? :admin %>
        <li><%= link_to(t('hp.nav_menu.my_offers'), my_offers_path) %></li>
      <% end %>

      <% if current_user.pledges.count > 0 %>
        <li><%= link_to(t('hp.nav_menu.my_pledges'), my_pledges_path) %></li>
      <% end %>

      <% if current_user.has_role? :admin %>
        
        <li><%= link_to(t('hp.nav_menu.admin'), users_path) %></li>
        <li><%= link_to(t('hp.nav_menu.ipn'), payment_notifications_path) %></li>
      <% end %>
      <li><%= link_to(t('hp.nav_menu.create_offer'), new_offer_path) %></li>
      <li><%= link_to t('hp.nav_menu.edit_profile'), edit_user_registration_path %></li>
      <li><%= link_to(t('hp.nav_menu.logout'), destroy_user_session_path, :method=>'delete') %></li>
    </ul>
    </li>

  <% else %>
    <li class="nav-login" style="float: right;"><%= link_to(t('hp.links.login'), new_user_session_path)  %></li>
    <li class="nav-login" style="float: right;"><%= link_to(t('hp.links.signup'), new_user_registration_path) %></li>
  <% end %>

</ul>