<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "More People Pay Less | Dynamic Priced Offers" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

   <style>
    div#body {
      padding-top: 50px;
    }
   </style>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-222459-27']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

   
  </head>

  <body dir="<%= @dir %>" >
    <div id="container">

      <header id="header">
        <link href="http://blog.morepeoplepayless.com/wp-content/themes/grido/uploads/favicon/mppl-favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <%= render partial: 'layouts/navigation' %>
      </header>


      <div id="body">
        <%= render 'layouts/messages' %>
            <%= yield %>
      </div>

      <div id="footer">
        <%= render partial: 'layouts/footer' %>
      </div>      
    </div><!-- #container -->  
  </body>

</html>
