<!-- TODO: use  HTML boilerplate --> 
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "More People Pay Less" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
  
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  
    
    <%= csrf_meta_tags %>
		<style type="text/css">
			<% footer_height = 20 %>
			* { margin:0; padding:0; } 

			html {
				direction: <%= (@locale.in? ['he', 'ar']) ? 'rtl' : 'ltr' %>;
			}
		</style>
	</head>
	<body id="widget">
		<div id="wrap">
				
			<div id="main" class="clearfix">
					<%= yield %>
			</div>

		</div>

		
	</body>

		<div id="widget_footer">
				<%= link_to t('hp.links.faq'), faq_widgets_path, id: "faq_link" %>
				<%= link_to t('widget.admin'), offer_pledges_path(@offer) %>
				<%= link_to t('widget.powered_by_mppl'), root_path, target: "_blank" %>

					<script type="text/javascript">
					$("#faq_link").click(function(){
						window.open('<%= faq_widgets_url %>','FAQ','width=600,height=600');
						return false;
					});
				</script>


		</div>

</html>

